<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 open"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CA%2C">A General</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CB%2C">B State Eligibility</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CC%2C">C Local Educational Agency Eligibility</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C">D Evaluations, Eligibility Determinations, Individualized Education Programs, and Educational Placements</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C">E Procedural Safeguards</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CF%2C">F Monitoring, Enforcement, Confidentiality, and Program Information</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CG%2C">G Authorization, Allotment, Use of Funds, and Authorization of Appropriations</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CH%2C">H Preschool Grants for Children with Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
       Regulations: Part   
       <a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">300</a> / <a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C">E</a> / 300.508</div><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E500%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E509%2C">Next</a></td>
</tr></table><div style="clear:both"></div><h2>
    Sec. 300.508 Due process complaint.</h2><p></p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Ca%2C"><span class="subindex">
       (a)
     </span></a> 
          General. (1) The public agency must have procedures that require either party, or the attorney representing a
          party, to provide to the other party a due process complaint (which must remain confidential).
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Ca%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
            The party filing a due process complaint must forward a copy of the due process complaint to the SEA.
          </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cb%2C"><span class="subindex">
       (b)
     </span></a> 
          Content of complaint. The due process complaint required in paragraph (a)(1) of this section must include--
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cb%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
            The name of the child;
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cb%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
            The address of the residence of the child;
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cb%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
            The name of the school the child is attending;
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cb%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
            In the case of a homeless child or youth (within the meaning of section 725(2) of the McKinney-Vento
            Homeless Assistance Act (42 U.S.C. 11434a(2)), available contact information for the child, and the name of
            the school the child is attending;
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cb%2C5%2C"><span class="subindex">
       (5)
     </span></a> 
            A description of the nature of the problem of the child relating to the proposed or refused initiation or
            change, including facts relating to the problem; and
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cb%2C6%2C"><span class="subindex">
       (6)
     </span></a> 
            A proposed resolution of the problem to the extent known and available to the party at the time.
          </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cc%2C"><span class="subindex">
       (c)
     </span></a> 
          Notice required before a hearing on a due process complaint. A party may not have a hearing on a due process
          complaint until the party, or the attorney representing the party, files a due process complaint that meets
          the requirements of paragraph (b) of this section.
        </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cd%2C"><span class="subindex">
       (d)
     </span></a> 
          Sufficiency of complaint.
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cd%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
            The due process complaint required by this section must be deemed sufficient unless the party receiving the
            due process complaint notifies the hearing officer and the other party in writing, within 15 days of receipt
            of the due process complaint, that the receiving party believes the due process complaint does not meet the
            requirements in paragraph (b) of this section.
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cd%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
            Within five days of receipt of notification under paragraph (d)(1) of this section, the hearing officer must
            make a determination on the face of the due process complaint of whether the due process complaint meets the
            requirements of paragraph (b) of this section, and must immediately notify the parties in writing of that
            determination.
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cd%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
            A party may amend its due process complaint only if--
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cd%2C3%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              The other party consents in writing to the amendment and is given the opportunity to resolve the due
              process complaint through a meeting held pursuant to Sec. 300.510; or
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cd%2C3%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              The hearing officer grants permission, except that the hearing officer may only grant permission to amend
              at any time not later than five days before the due process hearing begins.
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cd%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
            If a party files an amended due process complaint, the timelines for the resolution meeting in Sec.
            300.510(a) and the time period to resolve in Sec. 300.510(b) begin again with the filing of the amended due
            process complaint.
          </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Ce%2C"><span class="subindex">
       (e)
     </span></a> 
          LEA response to a due process complaint.
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Ce%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
            If the LEA has not sent a prior written notice under Sec. 300.503 to the parent regarding the subject matter
            contained in the parent's due process complaint, the LEA must, within 10 days of receiving the due process
            complaint, send to the parent a response that includes--
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Ce%2C1%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              An explanation of why the agency proposed or refused to take the action raised in the due process
              complaint;
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Ce%2C1%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              A description of other options that the IEP Team considered and the reasons why those options were
              rejected;
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Ce%2C1%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
              A description of each evaluation procedure, assessment, record, or report the agency used as the basis for
              the proposed or refused action; and
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Ce%2C1%2Civ%2C"><span class="subindex">
       (iv)
     </span></a> 
              A description of the other factors that are relevant to the agency's proposed or refused action.
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Ce%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
            A response by an LEA under paragraph (e)(1) of this section shall not be construed to preclude the LEA from
            asserting that the parent's due process complaint was insufficient, where appropriate.
          </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E508%2Cf%2C"><span class="subindex">
       (f)
     </span></a> 
          Other party response to a due process complaint. Except as provided in paragraph (e) of this section, the
          party receiving a due process complaint must, within 10 days of receiving the due process complaint, send to
          the other party a response that specifically addresses the issues raised in the due process complaint.
        </p><p>
   (Authority: 
        20 U.S.C. 1415(b)(7), 1415(c)(2)
      )
   </p><p></p><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E500%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C300%252E509%2C">Next</a></td>
</tr></table><div style="clear:both"></div>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>
<div class="context_menu" id="related_links">
  <h1>Related Items</h1>
  <ul>
    <div class="related_refs">
<li class="context_title">Major Topic</li>
<li class="context_link"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
</div><div class="related_statute">
<li class="context_title">Related Statute</li>
<li class="context_link"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C615%2Cb%2C7%2C">Sec. 615(b)(7)</a></li>
<li class="context_link"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C615%2Cc%2C2%2C">Sec. 615(c)(2)</a></li>
</div><div class="related_refs">
<li class="context_title">Other Related Content</li>
<li class="context_link"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalBrief%2C15%2C">Procedural Safeguards: Surrogates, Notice and Consent Topic Brief</a></li>
<li class="context_link"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalBrief%2C16%2C">Procedural Safeguards: Due Process Hearings Topic Brief</a></li>
<li class="context_link"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalBrief%2C21%2C">Mediation Topic Brief</a></li>
<li class="context_link"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalBrief%2C22%2C">State Complaint Procedures Topic Brief</a></li>
</div>
  </ul>
</div>
<div style="height: 8px;"></div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-12-19/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91878426-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>




