<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
<a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble</a> / <a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2Cprepart2%2CE%2C">Procedural Safeguards</a>
</div><p style="padding: 0px 0px 0px 0px">
Impartial hearing officer (Sec. 300.511(c))<p style="padding: 0px 0px 0px 20px">
Comment:  A few commenters recommended revising Sec. 300.511(c)(1)(i)(B) to state that a hearing officer must not have a personal or professional conflict of interest.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  Section 300.511(c)(1)(i)(B) incorporates the language in section 615(f)(3)(A)(i)(II) of the Act and provides that a hearing officer must not be a person having a personal or professional interest that conflicts with the person's objectivity in the hearing.  The meaning of this requirement is clear and we do not believe it is necessary to change it to ensure continued compliance with this longstanding requirement. </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter recommended that the regulations require the conduct of impartial hearing officers to be addressed by the State judicial code of conduct.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  Under section 615(f)(3) of the Act and Sec. 300.511(c), a hearing officer must possess the knowledge and ability to conduct hearings and to render and write decisions in accordance with appropriate, standard legal practice.  We believe that this provides sufficient guidance.  The application of State judicial code of conduct standards is a State matter.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter noted that Sec. 300.511(c)(1)(iii) and (iv) require a hearing officer to possess the knowledge and ability to conduct hearings and render and write decisions in accordance with appropriate, standard legal practice, and recommended that the regulations outline standard legal practice so that parents without attorney representation will have this information.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  The requirements in Sec. 300.511(c)(1)(iii) and (iv) incorporate the requirements in section 615(f)(3)(A)(iii) and (iv) of the Act.  These requirements are general in nature and appropriately reflect the fact that standard legal practice will vary depending on the State in which the hearing is held.  Accordingly, it would not be feasible to outline standard legal practice in these regulations, as recommended by the commenter.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  Some commenters recommended that the regulations require hearing officers to receive ongoing, periodic professional development regarding new regulations and court decisions so that their decisions reflect the latest developments and interpretations.  A few commenters recommended requiring SEAs to provide training for hearing officers by trainers who are experienced in conducting hearings and writing decisions in accordance with standard legal practice.  A few commenters recommended that the regulations require hearing officers to be informed that they are bound by the decisions of courts that govern their jurisdiction.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  It is not necessary to regulate in the manner recommended by the commenters because this is a responsibility of each State.  The Act prescribes minimum qualifications for hearing officers, which are reflected in Sec. 300.511(c).  Pursuant to its general supervisory responsibility, each State must ensure that individuals selected to conduct impartial due process hearings meet the requirements in Sec. 300.511(c)(1)(ii) through (iv).  States are in the best position to determine the required training and the frequency of the required training, consistent with State rules and policies.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter noted that the Act does not include the provision in Sec. 300.511(c)(2), which provides that a person who otherwise qualifies to conduct a hearing is not an employee of the agency solely because he or she is paid by the agency to serve as a hearing officer.  The commenter, therefore, recommended removing Sec. 300.511(c)(2).  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  We do not agree that the provision should be removed.  This provision is longstanding.  Although the Act prohibits an individual who is employed by a public agency involved in the education or care of the child to be a hearing officer, we believe that it is important to continue to clarify that a person's payment for serving as a hearing officer does not render that individual a public agency employee who is excluded from serving as a hearing officer.  In many instances, public agencies retain hearing officers under contract.  The fact that an individual is hired by a public agency solely for the purpose of serving as a hearing officer does not create an excluded employee relationship.  Public agencies need to ensure that hearing officers conduct due process hearings and it is only reasonable that those persons are paid for their work as hearing officers.</p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  Some commenters requested that the regulations require SEAs to make the list of hearing officers and their qualifications available to the public.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  Public agencies must maintain a list of persons who serve as hearing officers and a statement of their qualifications.  However, there is nothing in the Act that requires a public agency to make information regarding the qualifications of hearing officers available to the public.  Parents do not select the hearing officer to hear their complaints.  Therefore, we do not believe that it is necessary to require public agencies to provide information regarding the qualifications of hearing officers to the public, and we decline to regulate in this regard.  The commenter's recommendation would impose an additional burden on public agencies that is not required by the Act.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p></p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2015-09-19/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
</body>

</html>




