<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
<a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble</a> / <a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2Cprepart2%2CA%2C">General</a>
</div><p style="padding: 0px 0px 0px 0px">
Consent (Sec.  300.9)<p style="padding: 0px 0px 0px 20px">
Comment: A few commenters supported proposed Sec.300.9(c)(3), 
which states that if a parent revokes consent for his or her child's 
receipt of special education and related services, the public agency is 
not required to amend the child's education records to remove any 
references to the child's receipt of special education and related 
services because of the revocation of consent. The commenters stated 
that this revision provides clear direction to schools regarding the 
management of student records when a parent revokes consent. The 
commenters stated that schools must have the ability to keep accurate 
records pertaining to the child and the child's receipt of special 
education and related services. One commenter recommended that proposed 
Sec.300.9(c)(3) would be more appropriately placed in either 
Sec.Sec. 300.618 or 300.624, regarding the amendment of education 
records and the destruction of information, respectively.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: We appreciate the commenters' support for this 
provision. Concerning the recommendation that the substance of proposed 
Sec.300.9(c)(3) be placed in either Sec.Sec.300.618 or 300.624, we 
have included the provision in Sec.300.9 because the provision 
specifically relates to the definition of consent. Section 300.9(c) 
addresses revocation of consent, explaining that consent is voluntary 
and may be revoked at any time. Further, Sec.300.9(c) states that the 
parent's revocation of consent is not retroactive in that revocation 
does not negate an action that has occurred after the consent was given 
and before the consent was revoked. Proposed Sec.  300.9(c)(3) further 
defines the effect of a parent's revocation of consent on the content 
of his or her child's education records. A parent's revocation of 
consent is not retroactive; consequently, the public agency would not 
be required to amend the child's education records to remove any 
references to the child's receipt of special education and related 
services in the event the child's parent revokes consent. Therefore, we 
decline to follow the commenters' recommendation to remove Sec.  
300.9(c)(3) and include the content of this provision in either 
Sec. Sec.  300.618 or 300.624.
</p><p style="padding: 0px 0px 0px 20px">
Changes: None.
</p><p style="padding: 0px 0px 0px 20px">
Comment: One commenter recommended adding a rule of construction in 
Sec.  300.9 to clarify that nothing in proposed Sec.  300.9(c)(3) 
reduces a parent's right to request an amendment of their child's 
record in accordance with the confidentiality provisions in Sec. Sec.  
300.618 through 300.621. Another commenter requested that the language 
in proposed Sec.  300.9(c)(3) be clarified to require public agencies 
to maintain a child's special education records to ensure that public 
agencies are not allowed to amend the child's records or remove 
information at their sole discretion.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: Proposed Sec.  300.9(c)(3) specifies that if a parent 
revokes consent for the child's receipt of special education and 
related services, the public agency is not required to remove any 
references to the child's receipt of special education and related 
services because of the parent's revocation of consent. This provision 
does not affect the rights provided to parents in Sec. Sec.  300.618 
through 300.621, including the opportunity to request amendments to 
information in education records that is inaccurate or misleading, or 
violates the privacy or other rights of a child. Additionally, proposed 
Sec.  300.9(c)(3) does not affect a public agency's responsibilities 
under Sec.  300.613, concerning a parent's right to inspect and review 
any education records relating to his or her children that are 
collected, maintained, or used by the agency under Part B of the Act, 
or Sec.  300.624, requiring a public agency to (a) inform parents when 
personally identifiable information collected, maintained, or used 
under Part B of the Act is no longer needed to provide educational 
services to the child, and (b) destroy, at the request of the parent, 
such information. Given the protections available to parents to monitor 
the information in education records, to amend records, to be notified 
if the public agency intends to destroy information in education 
records, and to ultimately have the records destroyed, adding a rule of 
construction to Sec.  300.9(c)(3), as requested by the commenter, is 
not necessary.
</p><p style="padding: 0px 0px 0px 20px">
We also decline to make the change recommended regarding a public 
agency's maintenance of a child's special education records, as the 
regulations already provide sufficient protection of the child's and 
parents' interests with regard to monitoring, amending, and removing 
information from the child's records. Parents have the right, under 
Sec.  300.613, to inspect and review any education records relating to 
their child that are collected, maintained, or used by the agency under 
Part B of the Act. If a parent believes that information in the 
education records collected, maintained, or used under Part B of the 
Act is inaccurate or misleading or violates the privacy or other rights 
of the child, the parent may request that the participating agency 
amend the information in the records. Additionally, under Sec.  
300.619, the agency must, on request, provide the parent with an 
opportunity for a hearing to challenge information in education records 
to ensure that it is not inaccurate.
</p><p style="padding: 0px 0px 0px 20px">
Further, Sec.  300.624 requires that a public agency inform parents 
when personally identifiable information is no longer needed to provide 
educational services to a child. This notice would normally be given 
after a child graduates or otherwise leaves the agency. In instances 
when an agency intends to destroy personally identifiable information 
that is no longer needed to provide educational services to a child and 
informs the parents of that determination, the parents may want to 
exercise their right, under Sec.  300.613, to access those records and 
request copies of the records they may need to acquire post-school 
benefits.
</p><p style="padding: 0px 0px 0px 20px">
Changes: None.
</p><p style="padding: 0px 0px 0px 20px">
Comment: One commenter requested that the word ``parents'' in 
proposed Sec.  303.9(c)(3) be replaced with the word ``parent'' because 
the word ``parent'' has a particular meaning under the IDEA, and 
because both the Family Educational Rights and Privacy Act (FERPA) (20 
U.S.C. 1232g) and the implementing regulations (34 CFR Part 99) and 
IDEA give rights to each individual parent.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: We agree with the commenter that the word ``parent'' is 
more consistent with the language of the other IDEA parental consent 
provisions; therefore, we have made the requested change.
</p><p style="padding: 0px 0px 0px 20px">
Changes: The word ``parents'' in Sec.  300.9(c)(3) has been changed 
to ``parent.''
</p></p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2015-09-18/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91878426-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>




