<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
<a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble</a> / <a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2Cprepart2%2CB%2C">State Eligibility</a>
</div><p style="padding: 0px 0px 0px 0px">
Definitions (Sec. 300.172(e))<p style="padding: 0px 0px 0px 20px">
Comment:  Several commenters requested that Sec. 300.172(e) include the full definition of terms, rather than the citations to the definitions in the laws.  A number of commenters requested that the regulations include a definition of "persons with print disabilities."  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  We have published the NIMAS as Appendix C to Part 300--National Instructional Materials Accessibility Standard of these regulations, which will include the definition of NIMAS from section 674(e)(3)(B) of the Act.  </p><p style="padding: 0px 0px 0px 20px">
The definition of the NIMAC in new Sec. 300.172(e)(1)(ii) (proposed Sec. 300.172(e)(2)) and section 612(a)(23)(E)(i) of the Act refers to the center established pursuant to section 674(e) of the Act.  Paragraph (e)(1) in section 674 of the Act establishes the center at the APH and paragraph (e)(2) outlines the duties of the NIMAC.  We do not believe it is necessary to include this information in the regulations in order to implement the requirements of the Act, but will include it here for the convenience of the readers.</p><p style="padding: 0px 0px 0px 20px">
National Instructional Materials Access Center or NIMAC means the center established pursuant to section 674(e) of the Act.  Section 674(e) of the Act provides, in part, that--</p><p style="padding: 0px 0px 0px 20px">
(1)  In general.  The Secretary shall establish and support, through the American Printing House for the Blind, a center to be known as the "National Instructional Materials Access Center" not later than one year after the date of enactment of the Individuals with Disabilities Education Improvement Act of 2004.</p><p style="padding: 0px 0px 0px 20px">
(2)  Duties.  The duties of the NIMAC are the following:</p><p style="padding: 0px 0px 0px 20px">
(A)  To receive and maintain a catalog of print instructional materials prepared in the NIMAS, as established by the Secretary, made available to such center by the textbook publishing industry, State educational agencies, and local educational agencies.</p><p style="padding: 0px 0px 0px 20px">
(B)  To provide access to print instructional materials, including textbooks, in accessible media, free of charge, to blind or other persons with print disabilities in elementary schools and secondary schools, in accordance with such terms and procedures as the NIMAC may prescribe.</p><p style="padding: 0px 0px 0px 20px">
(C)  To develop, adopt and publish procedures to protect against copyright infringement, with respect to the print instructional materials provided under sections 612(a)(23) and 613(a)(6).</p><p style="padding: 0px 0px 0px 20px">
	The definitions of blind persons or other persons with print disabilities and specialized format both refer to statutes other than the Act.  For the reasons set forth earlier in this notice, we are referencing the definitions of terms in Sec. 300.172(e), rather than adding them to these regulations.  However, we will include them here for the convenience of the readers.  </p><p style="padding: 0px 0px 0px 20px">
	The Library of Congress regulations (36 CFR 701.6(b)(1)) related to the Act to Provide Books for the Adult Blind (approved March 3, 1931, 2 U.S.C. 135a) provide that blind persons or other persons with print disabilities include:</p><p style="padding: 0px 0px 0px 20px">
(i)  Blind persons whose visual acuity, as determined by competent authority, is 20/200 or less in the better eye with correcting glasses, or whose widest diameter if visual field subtends an angular distance no greater than 20 degrees.</p><p style="padding: 0px 0px 0px 20px">
(ii)  Persons whose visual disability, with correction and regardless of optical measurement, is certified by competent authority as preventing the reading of standard printed material.</p><p style="padding: 0px 0px 0px 20px">
(iii)  Persons certified by competent authority as unable to read or unable to use standard printed material as a result of physical limitations.</p><p style="padding: 0px 0px 0px 20px">
(iv)  Persons certified by competent authority as having a reading disability resulting from organic dysfunction and of sufficient severity to prevent their reading printed material in a normal manner.</p><p style="padding: 0px 0px 0px 20px">
	Competent authority is defined in 36 CFR 701.6(b)(2) as follows:</p><p style="padding: 0px 0px 0px 20px">
(i)  In cases of blindness, visual disability, or physical limitations "competent authority" is defined to include doctors of medicine, doctors of osteopathy, ophthalmologists, optometrists, registered nurses, therapists, professional staff of hospitals, institutions, and public or welfare agencies (e.g., social workers, case workers, counselors, rehabilitation teachers, and superintendents).</p><p style="padding: 0px 0px 0px 20px">
(ii)  In the case of a reading disability from organic dysfunction, competent authority is defined as doctors of medicine who may consult with colleagues in associated disciplines.</p><p style="padding: 0px 0px 0px 20px">
Specialized formats has the meaning given the term in section 121(d)(4) of title 17, United States Code:  </p><p style="padding: 0px 0px 0px 20px">
(A)  Braille, audio, or digital text which is exclusively for use by blind or other persons with disabilities. </p><p style="padding: 0px 0px 0px 20px">
(B)  With respect to print instructional materials, includes large print formats when such materials are distributed exclusively for use by blind or other persons with disabilities.</p><p style="padding: 0px 0px 0px 20px">
Changes:  As noted earlier, we have amended paragraph (e) of Sec. 300.172 by adding a new paragraph (e)(2) to clarify that the definitions in Sec. 300.172(e)(1) apply to each SEA and LEA whether or not the SEA or LEA chooses to coordinate with the NIMAC.  We have made technical changes to Sec. 300.172(e) and renumbered Sec. 300.172(e) to be consistent with this change.</p></p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2015-09-19/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91878426-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>




