<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    <li class="tree2 open"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">TITLE I</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C">Part A</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C">Part B</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C">Part C</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C">Part D</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CII%2C">TITLE II</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CIII%2C">TITLE III</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
       Statute: TITLE    
       <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">I</a> / <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C">C</a> / 641</div><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C640%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C642%2C">Next</a></td>
</tr></table><div style="clear:both"></div><h2>
    Sec.  641 STATE INTERAGENCY COORDINATING             COUNCIL.</h2><p></p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ca%2C"><span class="subindex">
       (a)
     </span></a> 
Establishment.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ca%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--A State that desires to receive financial         assistance under this part shall establish a State interagency         coordinating council.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ca%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Appointment.--The council shall be appointed by the         Governor. In making appointments to the council, the Governor         shall ensure that the membership of the council reasonably         represents the population of the State.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ca%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Chairperson.--The Governor shall designate a member of         the council to serve as the chairperson of the council, or shall         require the council to so designate such a member. Any member of         the council who is a representative of the lead agency         designated under section 635(a)(10) may not serve as the         chairperson of the council.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C"><span class="subindex">
       (b)
     </span></a> 
Composition.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--The council shall be composed as follows:
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
Parents.--Not less than 20 percent of the                 members shall be parents of infants or toddlers with                 disabilities or children with disabilities aged 12 or                 younger, with knowledge of, or experience with, programs                 for infants and toddlers with disabilities. Not less                 than 1 such member shall be a parent of an infant or                 toddler with a disability or a child with a disability                 aged 6 or younger.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Service providers.--Not less than 20 percent                 of the members shall be public or private providers of                 early intervention services.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
State legislature.--Not less than 1 member                 shall be from the State legislature.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
Personnel preparation.--Not less than 1 member                 shall be involved in personnel preparation.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CE%2C"><span class="subindex">
       (E)
     </span></a> 
Agency for early intervention services.--Not                 less than 1 member shall be from each of the State                 agencies involved in the provision of, or payment for,                 early intervention services to infants and toddlers with                 disabilities and their families and shall have                 sufficient authority to engage in policy planning and                 implementation on behalf of such agencies.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CF%2C"><span class="subindex">
       (F)
     </span></a> 
Agency for preschool services.--Not less than                 1 member shall be from the State educational agency                 responsible for preschool services to children with                 disabilities and shall have sufficient authority to                 engage in policy planning and implementation on behalf                 of such agency.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CG%2C"><span class="subindex">
       (G)
     </span></a> 
State medicaid agency.--Not less than 1 member                 shall be from the agency responsible for the State                 medicaid program.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CH%2C"><span class="subindex">
       (H)
     </span></a> 
Head start agency.--Not less than 1 member                 shall be a representative from a Head Start agency or                 program in the State.
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CH%2CI%2C"><span class="subindex">
       (I)
     </span></a> 
Child care agency.--Not less than 1 member                 shall be a representative from a State agency                 responsible for child care.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CJ%2C"><span class="subindex">
       (J)
     </span></a> 
Agency for health insurance.--Not less than 1                 member shall be from the agency responsible for the                 State regulation of health insurance.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CK%2C"><span class="subindex">
       (K)
     </span></a> 
Office of the coordinator of education of                 homeless children and youth.--Not less than 1 member                 shall be a representative designated by the Office of                 Coordinator for Education of Homeless Children and                 Youths.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CL%2C"><span class="subindex">
       (L)
     </span></a> 
State foster care representative.--Not less                 than 1 member shall be a representative from the State                 child welfare agency responsible for foster care.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C1%2CM%2C"><span class="subindex">
       (M)
     </span></a> 
Mental health agency.--Not less than 1 member                 shall be a representative from the State agency                 responsible for children's mental health.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cb%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Other members.--The council may include other members         selected by the Governor, including a representative from the         Bureau of Indian Affairs (BIA), or where there is no BIA-        operated or BIA-funded school, from the Indian Health Service or         the tribe or tribal council.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cc%2C"><span class="subindex">
       (c)
     </span></a> 
Meetings.--The council shall meet, at a minimum, on a quarterly basis, and in such places as the council determines necessary. The meetings shall be publicly announced, and, to the extent appropriate, open and accessible to the general public.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cd%2C"><span class="subindex">
       (d)
     </span></a> 
Management Authority.--Subject to the approval of the Governor, the council may prepare and approve a budget using funds under this part to conduct hearings and forums, to reimburse members of the council for reasonable and necessary expenses for attending council meetings and performing council duties (including child care for parent representatives), to pay compensation to a member of the council if the member is not employed or must forfeit wages from other employment when performing official council business, to hire staff, and to obtain the services of such professional, technical, and clerical personnel as may be necessary to carry out its functions under this part.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ce%2C"><span class="subindex">
       (e)
     </span></a> 
Functions of Council.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ce%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
Duties.--The council shall--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ce%2C1%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
advise and assist the lead agency designated                 or established under section 635(a)(10) in the                 performance of the responsibilities set forth in such                 section, particularly the identification of the sources                 of fiscal and other support for services for early                 intervention programs, assignment of financial                 responsibility to the appropriate agency, and the                 promotion of the interagency agreements;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ce%2C1%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
advise and assist the lead agency in the                 preparation of applications and amendments thereto;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ce%2C1%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
advise and assist the State educational agency                 regarding the transition of toddlers with disabilities                 to preschool and other appropriate services; and
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ce%2C1%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
prepare and submit an                 annual report to the Governor and to the Secretary on                 the status of early intervention programs for infants                 and toddlers with disabilities and their families                 operated within the State.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Ce%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Authorized activity.--The council may advise and         assist the lead agency and the State educational agency         regarding the provision of appropriate services for children         from birth through age 5. The council may advise appropriate         agencies in the State with respect to the integration of         services for infants and toddlers with disabilities and at-risk         infants and toddlers and their families, regardless of whether         at-risk infants and toddlers are eligible for early intervention         services in the State.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C641%2Cf%2C"><span class="subindex">
       (f)
     </span></a> 
Conflict of Interest.--No member of the council shall cast a vote on any matter that is likely to provide a direct financial benefit to that member or otherwise give the appearance of a conflict of interest under State law.
</p><br><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C640%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C642%2C">Next</a></td>
</tr></table><div style="clear:both"></div>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-12-19/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

</body>
</html>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9981315-5']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>





