<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
<a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble</a> / <a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2Cprepart2%2CE%2C">Procedural Safeguards</a>
</div><p style="padding: 0px 0px 0px 0px">
Written settlement agreement (new Sec. 300.510(d)) (proposed Sec. 300.510(c))<p style="padding: 0px 0px 0px 20px">
Comment:  One commenter asked whether decisions agreed to in resolution meetings supersede previous IEP decisions and whether the IEP Team must reconvene to sanction the decisions made in a resolution meeting.  One commenter recommended that if the resolution agreement includes IEP-related matters, the agreement must state that the LEA will convene an IEP Team meeting within a specific number of days to revise the IEP accordingly or develop an IEP addendum, as appropriate.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  Unless the agreement specifically requires that the IEP Team reconvene, there is nothing in the Act or these regulations that requires the IEP Team to reconvene following a resolution agreement that includes IEP-related matters.  We do not believe that it is necessary or appropriate to anticipate the elements of a particular settlement agreement, which may supersede an existing IEP.  The contents of settlement agreements are left to the parties who execute a settlement agreement.</p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter recommended that the regulations clarify whether the SEA, a hearing officer, or an administrative law judge has the authority to enforce a written resolution agreement.  A few commenters recommended permitting a parent to seek assistance from the SEA to compel a school district to abide by a resolution agreement.  The commenters stated that many families cannot afford legal representation and, in jurisdictions in which parents cannot represent themselves at the Federal district court level, this would, in essence, leave such parents without meaningful redress, except through the State court system.</p><p style="padding: 0px 0px 0px 20px">
	One commenter recommended that the regulations specify that a resolution agreement is enforceable in court without exhausting administrative remedies.  The commenter stated that unless this is clearly stated, parents may be forced to proceed through a two-tier due process system, rather than proceed directly to court, which would be counter to the purpose of a resolution agreement.</p><p style="padding: 0px 0px 0px 20px">
Several commenters suggested adding language in Sec. 300.506(b)(7) clarifying that a written, signed mediation agreement can be enforced through a State's administrative complaint process, as well as in State and Federal court.  The commenters stated that such a provision would be consistent with Congressional intent to reduce litigation and permit parties to resolve disagreements in a more positive, less costly manner.  The commenters also suggested permitting State- or circuit-based variation in enforcement mechanisms.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  Section 615(f)(1)(B)(iii) of the Act provides that if an agreement is reached in a resolution meeting, the parties must execute a legally binding agreement that is signed by both the parent and a representative of the agency who has the authority to bind the agency, and is enforceable in any State court of competent jurisdiction or in a district court of the United States.  These same requirements apply to agreements reached through mediation sessions, pursuant to section 615(e)(2)(F)(iii) of the Act. The Act is clear that exhaustion of administrative remedies is not required since the Act provides that the agreement is enforceable in a State court of competent jurisdiction or in a district court of the United States.</p><p style="padding: 0px 0px 0px 20px">
If a party to a resolution agreement or a mediation agreement believes that the agreement has been breached, we believe that, in addition to enforcement in a State court of competent jurisdiction or district court of the United States, States should be able to offer the option of using other available State mechanisms (e.g., State complaint procedures) to enforce resolution agreements and mediation agreements, as long as those other enforcement mechanisms are voluntary.  </p><p style="padding: 0px 0px 0px 20px">
Therefore, we are adding a new regulation on State enforcement mechanisms to clarify that States have the option of allowing resolution agreements and mediation agreements to be enforced through other mechanisms, provided that the other enforcement mechanisms do not operate to deny or delay the right of any party to the agreement to seek enforcement in an appropriate State or Federal court.</p><p style="padding: 0px 0px 0px 20px">
Regarding the commenters' suggestion of allowing State and circuit variations in enforcement mechanisms, we do not believe the Department has the authority to regulate in this area because doing so would interfere with matters reserved for State and Federal courts.  In general, a written resolution or mediation agreement is a binding contract between the parties, and therefore, the validity and enforceability of that agreement would be reviewed in light of applicable State and Federal laws, including State contract laws.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  We have added a new Sec. 300.537 on State enforcement mechanisms to clarify that, notwithstanding Sec. Sec. 300.506(b)(7) and new Sec. 300.510(d)(2)(proposed Sec. 300.510(c)(2)), nothing in this part prevents a State from providing parties to a written agreement reached as a result of a mediation or resolution meeting other mechanisms to enforce that agreement, provided that such mechanisms are not mandatory and do not deny or delay the right of the parties to seek enforcement of the written agreement in a State court of competent jurisdiction or in a district court of the United States.  We have also added a cross reference to new Sec. 300.537 in new Sec. 300.510(d) (proposed Sec. 300.510(c)), regarding written settlement agreements. </p></p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2015-09-18/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
</body>

</html>




