<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
<a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble</a> / <a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2Cprepart2%2CF%2C">Monitoring, Enforcement, Confidentiality, and Program Information</a>
</div><p style="padding: 0px 0px 0px 0px">
State Monitoring and Enforcement (Sec.  300.600)
<p style="padding: 0px 0px 0px 20px">
(originally published on December 1, 2008 &#8211; 73 FR 73006; effective date &#8211; December 31, 2008)
</p><p style="padding: 0px 0px 0px 20px">
Comment: None.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: In the course of our internal review of this provision, 
we noted that Sec.  300.600(e) implied, but did not clearly state, that 
the one-year timeline for correction begins with the State's 
identification of the noncompliance.
</p><p style="padding: 0px 0px 0px 20px">
Changes: We have revised Sec.  300.600(e) to specify that 
correction of noncompliance must be completed no later than one year 
after the State's identification of the noncompliance.
</p><p style="padding: 0px 0px 0px 20px">
Comment: A few commenters acknowledged that there are some areas of 
noncompliance that can be corrected within one year of identification; 
however, the commenters expressed concern that the one-year timeline is 
not realistic for findings of systemic noncompliance in substantive 
areas such as the provision of FAPE, placement in the least restrictive 
environment (LRE), and child find. Other commenters requested that 
proposed Sec.  300.600(e) be revised to reflect ``degrees'' of 
noncompliance. For example, one commenter suggested that some instances 
of noncompliance (e.g., those related to a specific child's IEP 
implementation) should not take one year to correct; whereas instances 
of noncompliance related to systemic issues may take longer than one 
year to correct. The commenter also questioned how proposed Sec.  
300.600(e) will address situations involving longstanding 
noncompliance. Lastly, one commenter agreed with the intent of proposed 
Sec.  300.600(e) but requested that the timeline be modified to allow 
for exceptions, such as allowing a State to initiate appropriate action 
to correct noncompliance within one year of identification or as soon 
as possible thereafter.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: Section 300.600(e) requires that all noncompliance 
related to the implementation of Part B of the Act be corrected as soon 
as possible, and in no case later than one year after the State's 
identification of the noncompliance. These changes are necessary to 
ensure that children with disabilities are provided with the FAPE to 
which they are entitled so that they are able to make progress towards 
meeting IEP goals and statewide achievement standards.
</p><p style="padding: 0px 0px 0px 20px">
While we agree with the commenters that some areas of noncompliance 
are more difficult to correct than others, we do not agree that the 
timeline should be extended beyond one year. Our experience has been 
that most States can correct noncompliance, including noncompliance 
that is spread broadly across a system, in less than one year from 
identification of the noncompliance. For example, States have required 
the implementation of short-term correction strategies while they are 
developing and implementing a plan for long-term change to ensure 
sustained compliance. An example of a short-term correction strategy 
coupled with a longer-term change might include contracting with speech 
therapists to provide the speech pathology services needed by current 
students while developing an in-district program to support speech 
pathology assistants to become certified speech language pathologists. 
Therefore, Sec.  300.600(e) provides an appropriate timeline for 
correcting noncompliance, including systemic and long-standing 
noncompliance. In cases where a State is unable to correct 
noncompliance within one year of identification, as provided in Sec.  
300.600(e), a State may enter into a compliance agreement with the 
Department under section 457 of GEPA (Compliance Agreement), if the 
Department deems a Compliance Agreement appropriate. The purpose of a 
Compliance Agreement is to allow a State the time needed to correct 
long-standing systemic noncompliance and come into full compliance with 
the applicable requirements of the Federal program as soon as feasible, 
but not later than three years from the date of the Compliance 
Agreement. A Compliance Agreement allows a State to continue to receive 
its grant award under Part B of the Act while it works toward achieving 
full compliance under the terms of the agreement. Section 300.600(e), 
when read together with the provisions in section 457 of GEPA, 
adequately address the commenters' concerns.
</p><p style="padding: 0px 0px 0px 20px">
We decline to amend the regulations to distinguish between or 
stratify types of noncompliance. Any noncompliance with the provisions 
in 34 CFR Part 300 is subject to the provisions in Sec.  300.600(e), 
and, therefore, must be corrected as soon as possible, and in no case 
later than one year from identification. However, we do agree with the 
commenter who suggested that some instances of noncompliance, e.g., 
those related to child-specific IEP timelines, may be corrected far 
more quickly than one year from identification. We expect that all 
noncompliance in those instances will be corrected as soon as possible. 
We recognize, though, that not all noncompliance can be corrected 
immediately. In our more than 30 year experience in implementing Part B 
of the Act, we have found that one year is a reasonable outside time 
limit for States for correcting noncompliance.
</p><p style="padding: 0px 0px 0px 20px">
For reasons previously stated in this preamble and because a State 
must initiate appropriate corrective actions immediately upon the 
identification of noncompliance, we decline to amend the regulations to 
allow for exceptions to the timely correction timeline in Sec.  
300.600(e) or to indicate that a State must only initiate appropriate 
action to correct noncompliance within one year or as soon as possible 
thereafter. The one-year timeline to correct noncompliance will ensure 
that most cases of noncompliance are corrected in one year or less, 
thereby facilitating the provision of FAPE to children with disabilities.
</p><p style="padding: 0px 0px 0px 20px">
Changes: None.
</p><p style="padding: 0px 0px 0px 20px">
Comment: One commenter expressed concern that proposed Sec.  
300.600(e) contradicts the logic of Sec.  300.604(b)(2)(ii), which 
allows compliance agreements if the Secretary has reason to believe 
that the State cannot correct the problem within one year. 
Additionally, the commenter stated that proposed Sec.  300.600(e) will 
be problematic for data collection and analysis purposes because the 
strict one-year timeline may impede the SEA's ability to use the most 
current LEA data in determining whether or not a systemic violation has 
been corrected. The commenter noted that an SEA could erroneously 
determine, based on outdated data, that an LEA has corrected its 
noncompliance, allowing for the continuation of the violation and 
ultimately poor student outcomes.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: We do not agree that the provisions in Sec.  300.600(e) 
contradict the provisions in Sec.  300.604(b)(2)(ii). These two 
regulatory sections address two separate and distinct processes. While 
Sec.  300.600(e) addresses the standard for the timely correction of 
noncompliance, Sec.  300.604(b)(2)(ii) addresses enforcement actions 
available to the Secretary if the Secretary determines, for three or 
more consecutive years, that a State needs intervention under Sec.  
300.603(b)(1)(iii) in implementing the requirements of Part B of the 
Act. In situations where the Secretary determines, for three or more 
consecutive years, that a State needs intervention in implementing the 
requirements of Part B of the Act, the Secretary may require a State to 
enter into a Compliance Agreement if the Secretary has reason to 
believe that the State cannot correct noncompliance that has existed 
for multiple years, within one year.
</p><p style="padding: 0px 0px 0px 20px">
We do not agree with the commenter that a one-year timeline will in 
any way impede the use of data in determining the correction of 
systemic noncompliance or contribute to diminished student outcomes. 
Many States collect compliance data using a real-time database. 
Therefore, correction of systemic noncompliance, or the continuation of 
noncompliance, can be determined at any time.
</p><p style="padding: 0px 0px 0px 20px">
Changes: None.
</p><p style="padding: 0px 0px 0px 20px">
Comment: One commenter stated that there is no statutory authority 
that requires correction of noncompliance within one year after the 
State's identification. The commenter further noted that under 
Indicator 15 in the State Performance Plan (SPP), a State must report 
on the percentage of noncompliance corrected within one year of 
identification and for any noncompliance not corrected within one year, 
the State must describe those actions, including technical assistance 
and enforcement actions the State has taken. The commenter noted that 
proposed Sec.  300.600(e) appears to give a State two different 
policies to follow with respect to noncompliance.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: Section 612(a)(11) of the Act and Sec.  300.149 require 
States to ensure that each educational program for children with 
disabilities administered within the State is under the general 
supervision of individuals responsible for educational programs for 
children with disabilities in the SEA. Section 616(a)(1)(C) of the Act 
and section 441a(b)(3)(A) of GEPA require a State to monitor 
implementation of Part B of the Act in each of its LEAs. Additionally, 
Sec.  300.100, consistent with section 612(a) of the Act, requires that 
all States receiving funds under Part B of the Act provide assurances 
to the Secretary that the State has in effect policies and procedures 
to ensure that the State meets the requirements of Part B of the Act, 
including the monitoring and enforcement requirements in Sec. Sec.  
300.600 through 300.602 and Sec. Sec.  300.606 through 300.608.
</p><p style="padding: 0px 0px 0px 20px">
The Act is silent regarding a timeline for correction of 
noncompliance with the requirements of Part B of the Act. However, the 
Department recognizes that full, continuous compliance with Part B of 
the Act may not be possible. Therefore, the Department allows States, 
through Sec.  300.600(e), a reasonable timeframe for correcting 
noncompliance; that is, any noncompliance must be corrected as soon as 
possible and in no case later than one year from identification. It is 
the Department's position that specifying a one-year timeline for 
correcting noncompliance is necessary to ensure proper and effective 
implementation of the requirements of Part B of the Act.
</p><p style="padding: 0px 0px 0px 20px">
As noted previously, section 616(a)(3) of the Act requires the 
Secretary to monitor the States, and the States to monitor their LEAs, 
using quantifiable indicators in several priority areas, including a 
State's exercise of its general supervisory authority. As required by 
the Act, the Secretary established 20 indicators to monitor these 
priority areas.
</p><p style="padding: 0px 0px 0px 20px">
Indicator 15 in the SPP measures the effectiveness of a State's 
general supervision by determining the percentage of noncompliance that 
was corrected within one year of identification. It is the Department's 
longstanding position, as reflected in Indicator 15 of the SPP, that 
when a State identifies noncompliance with the requirements of Part B 
of the Act by its LEAs, the noncompliance must be corrected as soon as 
possible, and in no case later than one year after the State identifies 
the noncompliance. The Department has established a target of 100 
percent for Indicator 15, meaning States are expected to correct 100 
percent of noncompliance as soon as possible, and in no case later than 
one year. Further, in our experience, when a State makes a good faith 
effort to correct noncompliance, the needed corrective actions can be 
accomplished and their effectiveness verified within one year. Finally, 
we expect that in the limited circumstances where correction does not 
occur within one year of the State's identification, the State will 
take specific enforcement actions with the LEA that are designed to 
achieve compliance. Section 300.600(e) is consistent with the 
Department's policy and guidance concerning the State's monitoring and 
enforcement responsibilities under Part B of the Act and the reporting 
requirements for Indicator 15.
</p><p style="padding: 0px 0px 0px 20px">
Changes: None.
</p><p style="padding: 0px 0px 0px 20px">
Comment: One commenter requested that the regulations include a 
more uniform process for States to follow in making annual 
determinations on the performance of LEAs because current practice 
differs from State to State.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: It is the Department's position that States should have 
some discretion in making annual determinations on the performance of 
their LEAs and, therefore, decline to establish, in regulation, a 
uniform process for making annual determinations under section 
616(b)(2)(C)(ii)(I) of the Act. We have advised States that, at a 
minimum, a State's annual determination process must include 
consideration of the following: an LEA's performance on all SPP 
compliance indicators (e.g., Indicators 9, 10, 11, 12, 13, 15, 16, 17, 
and 20), whether an LEA submitted valid and reliable data for each 
indicator, LEA-specific audit findings, and any uncorrected 
noncompliance from any source. Additionally, we have advised States to 
consider performance on results indicators, such as an LEA's graduation 
and dropout rates, or the participation rate of students with 
disabilities in State assessments.
</p><p style="padding: 0px 0px 0px 20px">
Changes: None.
</p><p style="padding: 0px 0px 0px 20px">
Comment: One commenter recommended requiring the participation of 
federally funded Parent Training and Information Centers, Community 
Parent Resource Centers, Protection and Advocacy Agencies, and parent and advocacy organizations and coalitions in the Federal and 
State monitoring processes.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: The Department encourages States to involve all 
stakeholders, including those noted by the commenter, in monitoring the 
implementation of Part B of the Act and these regulations. However, 
regulating, as the commenter requested, is not necessary because the 
commenter's concern is adequately addressed through other means. The 
Department engaged a number of stakeholders, including parent and 
advocacy organizations, in developing the Federal monitoring system, 
and continues to ensure that States include broad stakeholder input in 
the development of State targets and improvement activities. 
Additionally, under Sec. Sec.  300.167 through 300.169, regarding the 
State Advisory Panel, States must establish and maintain an advisory 
panel with broad membership for the purpose of providing policy 
guidance with respect to special education and related services for 
children with disabilities in the State. Section 300.169 specifies many 
duties of the State Advisory Panel, including advising the SEA of unmet 
needs in the education of children with disabilities within the State, 
developing corrective action plans to address findings identified in 
Federal monitoring reports under Part B of the Act, and developing and 
implementing policies relating to the coordination of services for 
children with disabilities. All of these activities are integral to the 
effective ongoing monitoring of the full implementation of Part B of 
the Act.
</p><p style="padding: 0px 0px 0px 20px">
Changes: None.
</p></p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2015-09-19/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
</body>

</html>




