<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 open"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CA%2C">A General</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CB%2C">B State Eligibility</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CC%2C">C Local Educational Agency Eligibility</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C">D Evaluations, Eligibility Determinations, Individualized Education Programs, and Educational Placements</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C">E Procedural Safeguards</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CF%2C">F Monitoring, Enforcement, Confidentiality, and Program Information</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CG%2C">G Authorization, Allotment, Use of Funds, and Authorization of Appropriations</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CH%2C">H Preschool Grants for Children with Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
       Regulations: Part   
       <a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">300</a> / <a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C">D</a> / 300.320</div><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E300%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E321%2C">Next</a></td>
</tr></table><div style="clear:both"></div><h2>
    Sec. 300.320 Definition of individualized education program.</h2><p></p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C"><span class="subindex">
       (a)
     </span></a> 
          General. As used in this part, the term individualized education program or IEP means a written statement for
          each child with a disability that is developed, reviewed, and revised in a meeting in accordance with Sec.
          Sec. 300.320 through 300.324, and that must include--
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
            A statement of the child's present levels of academic achievement and functional performance, including--
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C1%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              How the child's disability affects the child's involvement and progress in the general education
              curriculum (i.e., the same curriculum as for nondisabled children); or
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C1%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              For preschool children, as appropriate, how the disability affects the child's participation in
              appropriate activities;
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C2%2C"><span class="subindex">
       (2)
     </span></a> </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C2%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              A statement of measurable annual goals, including academic and functional goals designed to--
            </p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C2%2Ci%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
                Meet the child's needs that result from the child's disability to enable the child to be involved in and
                make progress in the general education curriculum; and
              </p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C2%2Ci%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
                Meet each of the child's other educational needs that result from the child's disability;
              </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C2%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              For children with disabilities who take alternate assessments aligned to alternate achievement standards,
              a description of benchmarks or short-term objectives;
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
            A description of--
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C3%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              How the child's progress toward meeting the annual goals described in paragraph (2) of this section will
              be measured; and
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C3%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              When periodic reports on the progress the child is making toward meeting the annual goals (such as through
              the use of quarterly or other periodic reports, concurrent with the issuance of report cards) will be
              provided;
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
            A statement of the special education and related services and supplementary aids and services, based on
            peer-reviewed research to the extent practicable, to be provided to the child, or on behalf of the child,
            and a statement of the program modifications or supports for school personnel that will be provided to
            enable the child--
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C4%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              To advance appropriately toward attaining the annual goals;
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C4%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              To be involved in and make progress in the general education curriculum in accordance with paragraph
              (a)(1) of this section, and to participate in extracurricular and other nonacademic activities; and
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C4%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
              To be educated and participate with other children with disabilities and nondisabled children in the
              activities described in this section;
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C5%2C"><span class="subindex">
       (5)
     </span></a> 
            An explanation of the extent, if any, to which the child will not participate with nondisabled children in
            the regular class and in the activities described in paragraph (a)(4) of this section;
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C6%2C"><span class="subindex">
       (6)
     </span></a> </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C6%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              A statement of any individual appropriate accommodations that are necessary to measure the academic
              achievement and functional performance of the child on State and districtwide assessments consistent with
              section 612(a)(16) of the Act; and
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C6%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              If the IEP Team determines that the child must take an alternate assessment instead of a particular
              regular State or districtwide assessment of student achievement, a statement of why--
            </p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C6%2Cii%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
                The child cannot participate in the regular assessment; and
              </p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C6%2Cii%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
                The particular alternate assessment selected is appropriate for the child; and
              </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Ca%2C7%2C"><span class="subindex">
       (7)
     </span></a> 
            The projected date for the beginning of the services and modifications described in paragraph (a)(4) of this
            section, and the anticipated frequency, location, and duration of those services and modifications.
          </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Cb%2C"><span class="subindex">
       (b)
     </span></a> 
          Transition services. Beginning not later than the first IEP to be in effect when the child turns 16, or
          younger if determined appropriate by the IEP Team, and updated annually, thereafter, the IEP must include--
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Cb%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
            Appropriate measurable postsecondary goals based upon age appropriate transition assessments related to
            training, education, employment, and, where appropriate, independent living skills; and
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Cb%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
            The transition services (including courses of study) needed to assist the child in reaching those goals.
          </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Cc%2C"><span class="subindex">
       (c)
     </span></a> 
          Transfer of rights at age of majority. Beginning not later than one year before the child reaches the age of
          majority under State law, the IEP must include a statement that the child has been informed of the child's
          rights under Part B of the Act, if any, that will transfer to the child on reaching the age of majority under
          Sec. 300.520.
        </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Cd%2C"><span class="subindex">
       (d)
     </span></a> 
          Construction. Nothing in this section shall be construed to require--
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Cd%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
            That additional information be included in a child's IEP beyond what is explicitly required in section 614
            of the Act; or
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E320%2Cd%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
            The IEP Team to include information under one component of a child's IEP that is already contained under
            another component of the child's IEP.
          </p><p>
   (Authority: 
        20 U.S.C. 1414(d)(1)(A) and (d)(6)
      )
   </p><p></p><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E300%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E321%2C">Next</a></td>
</tr></table><div style="clear:both"></div>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-12-19/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91878426-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>




