<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
<a href="#skipnav"><img src="http://www.ed.gov/images/spacer.gif" alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0"></a>
<table cellpadding=0 cellspacing=0 border=0 width="100%" bgcolor="#252424">
<tr>
<td width=7><img src="http://www.ed.gov/images/spacer.gif" alt=" " width=7 height=1 border=0></td>
<td width=401><a href="http://www.ed.gov/index.jhtml?src=a">
<img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans - Link to ED.gov Home Page" width="401" height="58" border="0" src="/images/ed_logo.gif" /></td>
<td><img src="http://www.ed.gov/images/spacer.gif" alt=" " width=1 height=1 border=0></td>
<td align=right><table cellpadding=0 cellspacing=0 border=0>
<tr>
<td width=15 rowspan=5><img src="http://www.ed.gov/images/ed_banner_dline.gif" alt=" " width=1 height=58 border=0><img src="http://www.ed.gov/images/spacer.gif" alt=" " width=14 height=58 border=0></td>
<td colspan=3><img src="http://www.ed.gov/images/spacer.gif" alt=" " width=1 height=3 border=0></td>
</tr>
<form name="edLiteFor" action="http://www.ed.gov/redirect.jsp" method="post"><tr>
<td><select name="where" style="height:20px; width:150px;">
<option value="#">Information For          </option>
<option value="http://www.ed.gov/students/landing.jhtml?src=el">Students</option>
<option value="http://www.ed.gov/parents/landing.jhtml?src=el">Parents</option>
<option value="http://www.ed.gov/teachers/landing.jhtml?src=el">Teachers</option>
<option value="http://www.ed.gov/admins/landing.jhtml?src=el">Administrators</option>
</select></td>
<td><img src="http://www.ed.gov/images/spacer.gif" alt=" " width=5 height=1 border=0 align=middle></td>
<td><input type="image" name="Go" title="Go" value="Go" src="http://www.ed.gov/images/ed_ban_go.gif" alt="GO" width="38" height="17" border="0"></td>
</tr></form>
<tr><td colspan=3><img src="http://www.ed.gov/images/spacer.gif" alt=" " width=1 height=3 border=0></td></tr>
<form name="edLiteAbout" action="http://www.ed.gov/redirect.jsp" method="post"><tr>
<td>
<select name="where" style="height:20px; width:150px;">
<option value="#">Information About</option>
<option value="http://www.ed.gov/fund/landing.jhtml?src=el">Grants & Contracts</option>
<option value="http://www.ed.gov/finaid/landing.jhtml?src=el">Financial Aid</option>
<option value="http://www.ed.gov/rschstat/landing.jhtml?src=el">Research & Statistics</option>
<option value="http://www.ed.gov/policy/landing.jhtml?src=el">Policy</option>
<option value="http://www.ed.gov/programs/landing.jhtml?src=el">Programs</option>
</select>
</td>
<td><img src="http://www.ed.gov/images/spacer.gif" alt=" " width=5 height=1 border=0 align=middle></td>
<td><input type="image" name="Go" title="Go" value="Go" src="http://www.ed.gov/images/ed_ban_go.gif" alt="GO" width=38 height=17 border=0></td>
</tr></form>
<tr><td colspan=3><img src="http://www.ed.gov/images/spacer.gif" alt=" " width=1 height=3 border=0></td></tr>
</table></td>
<td width=4><img alt="Ed_right_side" width="4" height="58" border="0" src="/images/ed_right_side.gif" /></td>
<td width=7><img src="http://www.ed.gov/images/spacer.gif" alt=" " width=7 height=1 border=0></td>
</tr>
</table>
<a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a href="/static/curr">Curriculum</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CDialogGuide%2C">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
<a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble</a> / <a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2Cprepart2%2CA%2C">General</a>
</div><p style="padding: 0px 0px 0px 20px">
Comment:  Several commenters suggested that we include in the regulations the definitions of terms that are defined in other statutes.  For example, one commenter requested including the definition of charter school in the regulations.</p>



  
<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="post">
                  <select name="search_option">
                     <option>Entire Site</option>
                     <option>Statute</option>
                     <option>Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>

<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.rrfcnetwork.org/content/view/340/47/">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://nspd.rrfcnetwork.org/">Search State Policies</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2006-09-23/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
</ul>
</div>
         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<!-- section to be viewed is always at the top of the screen now.
<script language="JavaScript" type="text/javascript">  
if (document.getElementById('middle').offsetHeight > 600)
{
   location.hash = "here";
}
</script>
-->

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91878426-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>






