<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    <li class="tree2 open" id="at"><a href="/explore/view/p/%2Croot%2Cstatute%2C">TITLE I</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C">Part A</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C">Part B</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C">Part C</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C">Part D</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CII%2C">TITLE II</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CIII%2C">TITLE III</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <h2>TITLE I -- AMENDMENTS TO THE INDIVIDUALS WITH DISABILITIES EDUCATION ACT</h2><p>
 
<style>
.part {padding: 10px 0px; text-align: center; font-size: 1.5em; font-weight: bolder;}
.sub1 {padding: 5px 0px 5px 10px;}
.sub2 {padding-left: 10px; }
.content_title {padding: 10px; font-weight:bolder;}
.content_item {padding-left: 20px;}
.subpart {padding: 10px; font-weight:bolder;}
</style>
   <h3>SEC. 101. AMENDMENTS TO THE INDIVIDUALS WITH DISABILITIES EDUCATION ACT.</h3>

    <p>Parts A through D of the Individuals with Disabilities Education Act 
(20 U.S.C. 1400 et seq.) are amended to read as follows:</p>

                      <div class="part">PART A--GENERAL PROVISIONS</div>

<div class="sub1">SEC. 601. NOTE: 20 USC 1400. SHORT TITLE; TABLE OF CONTENTS; 
            FINDINGS; PURPOSES.

    </div><div class="sub2">(a) Short Title.--This title may be cited as the `Individuals with 
Disabilities Education Act'.
    </div><div class="sub2">(b) Table of Contents.--The table of contents for this title is as 
follows:

                      </div><div class="content_title">Part A--General Provisions

        </div><div class="content_item">Sec. 601. Short title; table of contents; findings; purposes.
        </div><div class="content_item">Sec. 602. Definitions.
        </div><div class="content_item">Sec. 603. Office of Special Education Programs.
        </div><div class="content_item">Sec. 604. Abrogation of State sovereign immunity.
        </div><div class="content_item">Sec. 605. Acquisition of equipment; construction or alteration 
                            of facilities.
        </div><div class="content_item">Sec. 606. Employment of individuals with disabilities.
        </div><div class="content_item">Sec. 607. Requirements for prescribing regulations.
        </div><div class="content_item">Sec. 608. State administration.
        </div><div class="content_item">Sec. 609. Paperwork reduction.
        </div><div class="content_item">Sec. 610. Freely associated states.
  </div><div class="content_title">Part B--Assistance for Education of All Children With Disabilities

        </div><div class="content_item">Sec. 611. Authorization; allotment; use of funds; 
                            authorization of appropriations.
        </div><div class="content_item">Sec. 612. State eligibility.
        </div><div class="content_item">Sec. 613. Local educational agency eligibility.
        </div><div class="content_item">Sec. 614. Evaluations, eligibility determinations, 
                            individualized education programs, and 
                            educational placements.
        </div><div class="content_item">Sec. 615. Procedural safeguards.
        </div><div class="content_item">Sec. 616. Monitoring, technical assistance, and enforcement.
        </div><div class="content_item">Sec. 617. Administration.
        </div><div class="content_item">Sec. 618. Program information.
        </div><div class="content_item">Sec. 619. Preschool grants.

            </div><div class="content_title">Part C--Infants and Toddlers With Disabilities

        </div><div class="content_item">Sec. 631. Findings and policy.
        </div><div class="content_item">Sec. 632. Definitions.
        </div><div class="content_item">Sec. 633. General authority.
        </div><div class="content_item">Sec. 634. Eligibility.
        </div><div class="content_item">Sec. 635. Requirements for statewide system.
        </div><div class="content_item">Sec. 636. Individualized family service plan.
        </div><div class="content_item">Sec. 637. State application and assurances.
        </div><div class="content_item">Sec. 638. Uses of funds.
        </div><div class="content_item">Sec. 639. Procedural safeguards.
        </div><div class="content_item">Sec. 640. Payor of last resort.
        </div><div class="content_item">Sec. 641. State interagency coordinating council.
        </div><div class="content_item">Sec. 642. Federal administration.
        </div><div class="content_item">Sec. 643. Allocation of funds.
        </div><div class="content_item">Sec. 644. Authorization of appropriations.

  </div><div class="content_title">Part D--National Activities To Improve Education of Children With 
                              Disabilities

        </div><div class="content_item">Sec. 650. Findings.
             </div><div class="subpart">subpart 1--state personnel development grants

        </div><div class="content_item">Sec. 651. Purpose; definition of personnel; program authority.
        </div><div class="content_item">Sec. 652. Eligibility and collaborative process.
        </div><div class="content_item">Sec. 653. Applications.
        </div><div class="content_item">Sec. 654. Use of funds.
        </div><div class="content_item">Sec. 655. Authorization of appropriations.
    </div><div class="subpart">subpart 2--personnel preparation, technical assistance, model 
        demonstration projects, and dissemination of information

        </div><div class="content_item">Sec. 661. Purpose; definition of eligible entity.
        </div><div class="content_item">Sec. 662. Personnel development to improve services and 
                            results for children with disabilities.
        </div><div class="content_item">Sec. 663. Technical assistance, demonstration projects, 
                            dissemination of information, and 
                            implementation of scientifically based 
                            research.
        </div><div class="content_item">Sec. 664. Studies and evaluations.
        </div><div class="content_item">Sec. 665. Interim alternative educational settings, behavioral 
                            supports, and systemic school interventions.
        </div><div class="content_item">Sec. 667. Authorization of appropriations.
 </div><div class="subpart">subpart 3--supports to improve results for children with disabilities

        </div><div class="content_item">Sec. 670. Purposes.
        </div><div class="content_item">Sec. 671. Parent training and information centers.
        </div><div class="content_item">Sec. 672. Community parent resource centers.
        </div><div class="content_item">Sec. 673. Technical assistance for parent training and 
                            information centers.
        </div><div class="content_item">Sec. 674. Technology development, demonstration, and 
                            utilization; and media services.
        </div><div class="content_item">Sec. 675. Authorization of appropriations.
                     </div><div class="subpart">subpart 4--general provisions

        </div><div class="content_item">Sec. 681. Comprehensive plan for subparts 2 and 3.
        </div><div class="content_item">Sec. 682. Administrative provisions.

    </div> 
    
</p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-11-23/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
</body>

</html>




