<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
<a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble</a> / <a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2Cprepart2%2CG%2C">Authorization, Allotment, Use of Funds, and Authorization of Appropriations</a>
</div><p style="padding: 0px 0px 0px 0px">
Subgrants to LEAs (Sec.  300.705(a))
<p style="padding: 0px 0px 0px 20px">
(originally published on December 1, 2008 &#8211; 73 FR 73006; effective date &#8211; July 1, 2009)
</p><p style="padding: 0px 0px 0px 20px">
Comment: A few commenters supported the proposed changes to Sec.  
300.705(a) clarifying that States are required to make a subgrant under 
section 611(f) of the Act to eligible LEAs, including public charter 
schools that operate as LEAs, even if the LEA is not serving any 
children with disabilities, because all LEAs have a responsibility to 
identify and provide services to children with disabilities. The 
commenters stated that the Department should ensure that a newly 
created LEA not serving any children with disabilities in the first 
year would still be eligible for some IDEA funds (e.g., based on 
enrollment and the number of students in poverty) to allow the new LEA 
to conduct child find activities and serve any students who are 
identified as eligible for special education services later in the 
year.
</p><p style="padding: 0px 0px 0px 20px">
Some commenters opposed this provision and recommended that given 
the current level of IDEA Federal funding, funds should be used for 
direct services for students who are currently eligible for special 
education and related services. Additionally, one of these commenters 
expressed concern that Sec.  300.705(a) would require revising current 
State and local funding processes, which would place accounting and 
administrative burdens on both State and local systems. A few 
commenters stated that the proposed change to Sec.  300.705(a) is 
unnecessary because States have been successful in ensuring that small 
school districts receive allocations when they enroll a student with a 
disability. Lastly, one commenter suggested that the proposed changes 
could be handled through administrative guidance, rather than 
regulations.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: Section 300.705(a), consistent with section 611(f)(1) 
of the Act, requires each State to provide subgrants to LEAs, including 
public charter schools that operate as LEAs in the State, that have 
established their eligibility under section 613 of the Act. Section 
613(a) of the Act states that an LEA is eligible for assistance under 
Part B of the Act for a fiscal year if the LEA submits a plan that 
provides assurances to the SEA that the LEA meets each of the 
conditions in section 613(a) of the Act. There is no requirement in 
section 613(a) of the Act that an LEA must be serving children with 
disabilities for an LEA to be eligible for a subgrant. Requiring States 
to make a subgrant to all eligible LEAs, including public charter 
schools that operate as LEAs, will ensure that LEAs have Part B funds 
available if they are needed to conduct child find activities or to 
serve children with disabilities who subsequently enroll or are 
identified during the year. Regardless of the level of funding made 
available for the Part B program under the Act, neither the Act nor the 
implementing regulations require that Part B funds be spent only for 
direct services for students who are currently eligible for special 
education and related services. As in the past, LEAs may use Part B 
funds for direct services to children with disabilities or for other 
permissible activities, such as child find, professional development, 
and more recently, for coordinated early intervening services in 
accordance with Sec.  300.226.
</p><p style="padding: 0px 0px 0px 20px">
The Grants to States and Preschool Grants for Children with 
Disabilities Programs are forward-funded programs and LEAs generally 
receive a subgrant at the beginning of the school year to cover the 
costs of providing special education and related services to children 
with disabilities during the school year. Ensuring that all LEAs, 
including those that have no children with disabilities enrolled at the 
beginning of the school year, have section 611 and section 619 funds 
available will enable LEAs to meet their responsibilities under the Act 
during the school year if a child with a disability subsequently 
enrolls or a child is subsequently identified as having a disability.
</p><p style="padding: 0px 0px 0px 20px">
We understand the commenter's concern that this change in the 
regulations may require States to revise their procedures for 
distributing Part B funds, and that there may be some administrative 
burden associated with these changes. However, the importance of 
ensuring consistency across States concerning the distribution of 
section 611 and section 619 funds outweighs the potential 
administrative burden. As previously stated in this preamble, making 
these funds available to LEAs is critical to ensure that each LEA is 
able to fulfill its responsibilities under the Act. We agree with 
commenters that some States have been successful in ensuring small LEAs 
receive allocations when they enroll students with disabilities after 
the school year has begun. However, given that the Act and the 
implementing regulations are silent on whether an SEA must make a 
subgrant to an LEA that is not serving any children with disabilities, 
clarification is necessary in Sec. Sec.  300.705(a) and 300.815 to 
remove any ambiguity in this regard. Revising the regulations, rather 
than remaining silent on the issue or issuing guidance, will ensure 
that all States treat LEAs in the same manner, including those LEAs 
that are not serving any children with disabilities, when allocating 
Part B funds.
</p><p style="padding: 0px 0px 0px 20px">
Changes: None.
</p><p style="padding: 0px 0px 0px 20px">
Comment: A few commenters recommended that the proposed regulations 
be modified to give States the option of making subgrants to eligible 
LEAs, including public charter schools that operate as LEAs, when an 
LEA is not currently serving any students with disabilities. The 
commenters stated that States have different needs and some have 
policies in place to help new charter schools meet their child find 
obligations.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: We recognize that States are in a unique position to 
assist new LEAs, including charter schools that operate as LEAs. 
However, requiring States to make a subgrant under section 611(f) and 
section 619(g) of the Act to eligible LEAs, including public charter 
schools that operate as LEAs, even if the LEA is not serving any 
children with disabilities, ensures consistency across States and an 
equitable distribution of Part B funds. We also recognize that some 
States may not assign child find responsibility to public charter 
schools that operate as LEAs. However, all LEAs, including public 
charter schools that operate as LEAs, have other responsibilities under 
the IDEA that may need to be carried out during the school year, such 
as serving a child with a disability who is identified during the 
school year. It is the Department's position that it is necessary to 
require States to make (rather than give them the option of making) 
subgrants to eligible LEAs not currently serving any students with 
disabilities, to ensure that all States treat LEAs in the same manner, 
including those LEAs that are not serving any children with 
disabilities, when allocating Part B funds.
</p><p style="padding: 0px 0px 0px 20px">
Changes: None.
</p><p style="padding: 0px 0px 0px 20px">
Comment: One commenter recommended that the Department withdraw the 
proposed changes and add, if necessary, a new paragraph in Sec. Sec.  
300.705 and 300.815 that would allow a new or expanded charter school 
to receive an allocation under Sec. Sec.  300.705 and 300.815, 
respectively, if the school demonstrates to the SEA that the school is 
serving children with disabilities in accordance with the requirements 
of Part B of the Act within the time frame established by the SEA under 
34 CFR 76.788(b)(2)(i), which provides that once a charter school LEA 
has opened or significantly expanded its enrollment, the charter school 
LEA must provide actual enrollment and eligibility data to the SEA at a 
time the SEA may reasonably require.
</p><p style="padding: 0px 0px 0px 20px">
Discussion: We do not agree that the change suggested by the 
commenter is necessary. An eligible public charter school LEA has the 
responsibility to meet the requirements of the Act during the school 
year regardless of whether the LEA is serving children with 
disabilities at the time the subgrant is calculated based on actual 
enrollment and eligibility data. In recognition of these 
responsibilities, requiring an SEA to make an initial subgrant to a new 
or expanded public charter school LEA is appropriate, even if it is not 
serving any children with disabilities at the time actual enrollment 
and eligibility data are provided to the SEA.
</p><p style="padding: 0px 0px 0px 20px">
Changes: None.
</p></p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2015-09-18/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
</body>

</html>




