<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    <li class="tree2 open"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">TITLE I</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C">Part A</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C">Part B</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C">Part C</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C">Part D</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CII%2C">TITLE II</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CIII%2C">TITLE III</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
       Statute: TITLE    
       <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">I</a> / <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C">D</a> / <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2C">654</a> / a</div><br><a name="here"></a><div class="subhigh1">
<p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C"><span class="subindex">
       (a)
     </span></a> 
Professional Development Activities.--A State educational agency that receives a grant under this subpart shall use the grant funds to support activities in accordance with the State's plan described in section 653, including 1 or more of the following:
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
Carrying out programs that provide support to both         special education and regular education teachers of children         with disabilities and principals, such as programs that--
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C1%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
provide teacher mentoring, team teaching,                 reduced class schedules and case loads, and intensive                 professional development;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C1%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
use standards or assessments for guiding                 beginning teachers that are consistent with challenging                 State student academic achievement and functional                 standards and with the requirements for professional                 development, as defined in section 9101 of the                 Elementary and Secondary Education Act of 1965; and
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C1%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
encourage collaborative and consultative                 models of providing early intervention, special                 education, and related services.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Encouraging and supporting the training of special         education and regular education teachers and administrators to         effectively use and integrate technology--
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C2%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
into curricula and instruction, including                 training to improve the ability to collect, manage, and                 analyze data to improve teaching, decisionmaking, school                 improvement efforts, and accountability;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C2%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
to enhance learning by children with                 disabilities; and
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C2%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
to effectively communicate with parents.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Providing professional development activities that--
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
improve the knowledge of special education and                 regular education teachers concerning--
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CA%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
the academic and developmental or                       functional needs of students with disabilities; or
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CA%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
effective instructional strategies,                       methods, and skills, and the use of State academic                       content standards and student academic achievement                       and functional standards, and State assessments,                       to improve teaching practices and student academic                       achievement;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
improve the knowledge of special education and                 regular education teachers and principals and, in                 appropriate cases, paraprofessionals, concerning                 effective instructional practices, and that--
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
provide training in how to teach and                       address the needs of children with different                       learning styles and children who are limited                       English proficient;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
involve collaborative groups of                       teachers, administrators, and, in appropriate                       cases, related services personnel;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
provide training in methods of--
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Ciii%2CI%2C"><span class="subindex">
       (I)
     </span></a> 
positive behavioral                                 interventions and supports to improve                                 student behavior in the classroom;
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Ciii%2CII%2C"><span class="subindex">
       (II)
     </span></a> 
scientifically based reading                                 instruction, including early literacy                                 instruction;
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Ciii%2CIII%2C"><span class="subindex">
       (III)
     </span></a> 
early and appropriate                                 interventions to identify and help                                 children with disabilities;
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Ciii%2CIV%2C"><span class="subindex">
       (IV)
     </span></a> 
effective instruction for                                 children with low incidence                                 disabilities;
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Ciii%2CV%2C"><span class="subindex">
       (V)
     </span></a> 
successful transitioning to                                 postsecondary opportunities; and
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Ciii%2CVI%2C"><span class="subindex">
       (VI)
     </span></a> 
using classroom-based                                 techniques to assist children prior to                                 referral for special education;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Civ%2C"><span class="subindex">
       (iv)
     </span></a> 
provide training to enable personnel to                       work with and involve parents in their child's                       education, including parents of low income and                       limited English proficient children with                       disabilities;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Cv%2C"><span class="subindex">
       (v)
     </span></a> 
provide training for special education                       personnel and regular education personnel in                       planning, developing, and implementing effective                       and appropriate IEPs; and
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CB%2Cvi%2C"><span class="subindex">
       (vi)
     </span></a> 
provide training to meet the needs of                       students with significant health, mobility, or                       behavioral needs prior to serving such students;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
train administrators, principals, and other                 relevant school personnel in conducting effective IEP                 meetings; and
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C3%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
train early intervention, preschool, and                 related services providers, and other relevant school                 personnel, in conducting effective individualized family                 service plan (IFSP) meetings.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
Developing and implementing initiatives to promote the         recruitment and retention of highly qualified special education         teachers, particularly initiatives that have been proven         effective in recruiting and retaining highly qualified teachers,         including programs that provide--
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C4%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
teacher mentoring from exemplary special                 education teachers, principals, or superintendents;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C4%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
induction and support for special education                 teachers during their first 3 years of employment as                 teachers; or
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C4%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
incentives, including financial incentives, to                 retain special education teachers who have a record of                 success in helping students with disabilities.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C5%2C"><span class="subindex">
       (5)
     </span></a> 
Carrying out programs and activities that are designed         to improve the quality of personnel who serve children with         disabilities, such as--
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C5%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
innovative professional development programs                 (which may be provided through partnerships that include                 institutions of higher education), including programs                 that train teachers and principals to integrate                 technology into curricula and instruction to improve                 teaching, learning, and technology literacy, which                 professional development shall be consistent with the                 definition of professional development in section 9101                 of the Elementary and Secondary Education Act of 1965;                 and
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C5%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
the development and use of proven, cost                 effective strategies for the implementation of                 professional development activities, such as through the                 use of technology and distance learning.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C6%2C"><span class="subindex">
       (6)
     </span></a> 
Carrying out programs and activities that are designed         to improve the quality of early intervention personnel,         including paraprofessionals and primary referral sources, such         as--
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C6%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
professional development programs to improve                 the delivery of early intervention services;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C6%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
initiatives to promote the recruitment and                 retention of early intervention personnel; and
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C654%2Ca%2C6%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
interagency activities to ensure that early                 intervention personnel are adequately prepared and                 trained.
</p>
</div>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-03-25/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

</body>
</html>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9981315-5']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>





