<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    <li class="tree2 open"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">TITLE I</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C">Part A</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C">Part B</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C">Part C</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C">Part D</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CII%2C">TITLE II</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CIII%2C">TITLE III</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
       Statute: TITLE    
       <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">I</a> / <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C">D</a> / 662</div><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C661%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C663%2C">Next</a></td>
</tr></table><div style="clear:both"></div><h2>
    Sec.  662 PERSONNEL DEVELOPMENT TO IMPROVE             SERVICES AND RESULTS FOR CHILDREN WITH DISABILITIES.</h2><p></p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C"><span class="subindex">
       (a)
     </span></a> 
In General.--The Secretary, on a competitive basis, shall award grants to, or enter into contracts or cooperative agreements with, eligible entities to carry out 1 or more of the following objectives:
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
To help address the needs identified in the State plan         described in section 653(a)(2) for highly qualified personnel,         as defined in section 651(b), to work with infants or toddlers        with disabilities, or children with disabilities, consistent         with the qualifications described in section 612(a)(14).
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
To ensure that those personnel have the necessary         skills and knowledge, derived from practices that have been         determined, through scientifically based research, to be         successful in serving those children.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
To encourage increased focus on academics and core         content areas in special education personnel preparation         programs.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
To ensure that regular education teachers have the         necessary skills and knowledge to provide instruction to         students with disabilities in the regular education classroom.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C5%2C"><span class="subindex">
       (5)
     </span></a> 
To ensure that all special education teachers are         highly qualified.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C6%2C"><span class="subindex">
       (6)
     </span></a> 
To ensure that preservice and in-service personnel         preparation programs include training in--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C6%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
the use of new technologies;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C6%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
the area of early intervention, educational,                 and transition services;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C6%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
effectively involving parents; and
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C6%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
positive behavioral supports.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C7%2C"><span class="subindex">
       (7)
     </span></a> 
To provide high-quality professional development for         principals, superintendents, and other administrators, including         training in--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C7%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
instructional leadership;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C7%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
behavioral supports in the school and                 classroom;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C7%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
paperwork reduction;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C7%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
promoting improved collaboration between                 special education and general education teachers;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C7%2CE%2C"><span class="subindex">
       (E)
     </span></a> 
assessment and accountability;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C7%2CF%2C"><span class="subindex">
       (F)
     </span></a> 
ensuring effective learning environments; and
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ca%2C7%2CG%2C"><span class="subindex">
       (G)
     </span></a> 
fostering positive relationships with parents.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C"><span class="subindex">
       (b)
     </span></a> 
Personnel Development; Enhanced Support for Beginning Special Educators.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--In carrying out this section, the         Secretary shall support activities--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C1%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
for personnel development, including                 activities for the preparation of personnel who will                 serve children with high incidence and low incidence                 disabilities, to prepare special education and general                 education teachers, principals, administrators, and                 related services personnel (and school board members,                 when appropriate) to meet the diverse and individualized                 instructional needs of children with disabilities and                 improve early intervention, educational, and                 transitional services and results for children with                 disabilities, consistent with the objectives described                 in subsection (a); and
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C1%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
for enhanced support for beginning special                 educators, consistent with the objectives described in                 subsection (a).
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Personnel development.--In carrying out paragraph         (1)(A), the Secretary shall support not less than 1 of the         following activities:
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
Assisting effective existing, improving                 existing, or developing new, collaborative personnel                 preparation activities undertaken by institutions of                 higher education, local educational agencies, and other                 local entities that                incorporate best practices and scientifically based                 research, where applicable, in providing special                 education and general education teachers, principals,                 administrators, and related services personnel with the                 knowledge and skills to effectively support students                 with disabilities, including--
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
working collaboratively in regular                       classroom settings;
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
using appropriate supports,                       accommodations, and curriculum modifications;
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
implementing effective teaching                       strategies, classroom-based techniques, and                       interventions to ensure appropriate identification                       of students who may be eligible for special                       education services, and to prevent the                       misidentification, inappropriate                       overidentification, or underidentification of                       children as having a disability, especially                       minority and limited English proficient children;
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Civ%2C"><span class="subindex">
       (iv)
     </span></a> 
effectively working with and involving                       parents in the education of their children;
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Cv%2C"><span class="subindex">
       (v)
     </span></a> 
utilizing strategies, including positive                       behavioral interventions, for addressing the                       conduct of children with disabilities that impedes                       their learning and that of others in the                       classroom;
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Cvi%2C"><span class="subindex">
       (vi)
     </span></a> 
effectively constructing IEPs,                       participating in IEP meetings, and implementing                       IEPs;
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Cvii%2C"><span class="subindex">
       (vii)
     </span></a> 
preparing children with disabilities                       to participate in statewide assessments (with or                       without accommodations) and alternate assessments,                       as appropriate, and to ensure that all children                       with disabilities are a part of all accountability                       systems under the Elementary and Secondary                       Education Act of 1965; and
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Cviii%2C"><span class="subindex">
       (viii)
     </span></a> 
working in high need elementary                       schools and secondary schools, including urban                       schools, rural schools, and schools operated by an                       entity described in section 7113(d)(1)(A)(ii) of                       the Elementary and Secondary Education Act of                       1965, and schools that serve high numbers or                       percentages of limited English proficient                       children.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Developing, evaluating, and disseminating                 innovative models for the recruitment, induction,                 retention, and assessment of new, highly qualified                 teachers to reduce teacher shortages, especially from                 groups that are underrepresented in the teaching                 profession, including individuals with disabilities.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
Providing continuous personnel preparation,                 training, and professional development designed to                 provide support and ensure retention of special                 education and general education teachers and personnel                 who teach and provide related services to children with                 disabilities.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
Developing and improving programs for                 paraprofessionals to become special education teachers,                 related services personnel, and early intervention                 personnel, including interdisciplinary training to                 enable the paraprofessionals to improve early                 intervention, educational, and transitional results for                 children with disabilities.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CE%2C"><span class="subindex">
       (E)
     </span></a> 
In the case of principals and superintendents,                 providing activities to promote instructional leadership                 and                improved collaboration between general educators,                 special education teachers, and related services                 personnel.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CF%2C"><span class="subindex">
       (F)
     </span></a> 
Supporting institutions of higher education                 with minority enrollments of not less than 25 percent                 for the purpose of preparing personnel to work with                 children with disabilities.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CG%2C"><span class="subindex">
       (G)
     </span></a> 
Developing and improving programs to train                 special education teachers to develop an expertise in                 autism spectrum disorders.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CH%2C"><span class="subindex">
       (H)
     </span></a> 
Providing continuous personnel preparation,                 training, and professional development designed to                 provide support and improve the qualifications of                 personnel who provide related services to children with                 disabilities, including to enable such personnel to                 obtain advanced degrees.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Enhanced support for beginning special educators.--In         carrying out paragraph (1)(B), the Secretary shall support not         less than 1 of the following activities:
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
Enhancing and restructuring existing programs                 or developing preservice teacher education programs to                 prepare special education teachers, at colleges or                 departments of education within institutions of higher                 education, by incorporating an extended (such as an                 additional 5th year) clinical learning opportunity,                 field experience, or supervised practicum into such                 programs.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Creating or supporting teacher-faculty                 partnerships (such as professional development schools)                 that--
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
consist of not less than--
</p><p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ci%2CI%2C"><span class="subindex">
       (I)
     </span></a> 
1 or more institutions of                                 higher education with special education                                 personnel preparation programs;
</p><p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ci%2CII%2C"><span class="subindex">
       (II)
     </span></a> 
1 or more local educational                                 agencies that serve high numbers or                                 percentages of low-income students; or
</p><p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ci%2CIII%2C"><span class="subindex">
       (III)
     </span></a> 
1 or more elementary schools                                 or secondary schools, particularly                                 schools that have failed to make                                 adequate yearly progress on the basis,                                 in whole and in part, of the assessment                                 results of the disaggregated subgroup of                                 students with disabilities;
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
may include other entities eligible for                       assistance under this part; and
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
provide--
</p><p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ciii%2CI%2C"><span class="subindex">
       (I)
     </span></a> 
high-quality mentoring and                                 induction opportunities with ongoing                                 support for beginning special education                                 teachers; or
</p><p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ciii%2CII%2C"><span class="subindex">
       (II)
     </span></a> 
inservice professional                                 development to beginning and veteran                                 special education teachers through the                                 ongoing exchange of information and                                 instructional strategies with faculty.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C"><span class="subindex">
       (c)
     </span></a> 
Low Incidence Disabilities; Authorized Activities.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--In carrying out this section, the         Secretary shall support activities, consistent with the         objectives described in subsection (a), that benefit children         with low incidence disabilities.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Authorized activities.--Activities that may be carried         out under this subsection include activities such as the         following:
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
Preparing persons who--
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CA%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
have prior training in educational and                       other related service fields; and
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CA%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
are studying to obtain degrees,                       certificates, or licensure that will enable the                       persons to assist children with low incidence                       disabilities to achieve the objectives set out in                       their individualized education programs described                       in section 614(d), or to assist infants and                       toddlers with low incidence disabilities to                       achieve the outcomes described in their                       individualized family service plans described in                       section 636.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Providing personnel from various disciplines                 with interdisciplinary training that will contribute to                 improvement in early intervention, educational, and                 transitional results for children with low incidence                 disabilities.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
Preparing personnel in the innovative uses and                 application of technology, including universally                 designed technologies, assistive technology devices, and                 assistive technology services--
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CC%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
to enhance learning by children with low                       incidence disabilities through early intervention,                       educational, and transitional services; and
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CC%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
to improve communication with parents.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
Preparing personnel who provide services to                 visually impaired or blind children to teach and use                 Braille in the provision of services to such children.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CE%2C"><span class="subindex">
       (E)
     </span></a> 
Preparing personnel to be qualified                 educational interpreters, to assist children with low                 incidence disabilities, particularly deaf and hard of                 hearing children in school and school related                 activities, and deaf and hard of hearing infants and                 toddlers and preschool children in early intervention                 and preschool programs.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CF%2C"><span class="subindex">
       (F)
     </span></a> 
Preparing personnel who provide services to                 children with significant cognitive disabilities and                 children with multiple disabilities.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C2%2CG%2C"><span class="subindex">
       (G)
     </span></a> 
Preparing personnel who provide services to                 children with low incidence disabilities and limited                 English proficient children.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Definition.--In this section, the term `low incidence         disability' means--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C3%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
a visual or hearing impairment, or                 simultaneous visual and hearing impairments;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C3%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
a significant cognitive impairment; or
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C3%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
any impairment for which a small number of                 personnel with highly specialized skills and knowledge                 are needed in order for children with that impairment to                 receive early intervention services or a free                 appropriate public education.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
Selection of recipients.--In selecting eligible         entities for assistance under this subsection, the Secretary may         give preference to eligible entities submitting applications         that include 1 or more of the following:
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C4%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
A proposal to prepare personnel in more than 1                 low incidence disability, such as deafness and                 blindness.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C4%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
A demonstration of an effective collaboration                 between an eligible entity and a local educational                 agency that promotes recruitment and subsequent                 retention of highly qualified personnel to serve                 children with low incidence disabilities.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cc%2C5%2C"><span class="subindex">
       (5)
     </span></a> 
Preparation in use of braille.--The Secretary shall         ensure that all recipients of awards under this subsection who         will use that assistance to prepare personnel to provide         services to visually impaired or blind children that can         appropriately be provided in Braille, will prepare those         individuals to provide those services in Braille.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cd%2C"><span class="subindex">
       (d)
     </span></a> 
Leadership Preparation; Authorized Activities.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cd%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--In carrying out this section, the         Secretary shall support leadership preparation activities that         are consistent with the objectives described in subsection (a).
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cd%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Authorized activities.--Activities that may be carried         out under this subsection include activities such as the         following:
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cd%2C2%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
Preparing personnel at the graduate, doctoral,                 and postdoctoral levels of training to administer,                 enhance, or provide services to improve results for                 children with disabilities.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cd%2C2%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Providing interdisciplinary training for                 various types of leadership personnel, including teacher                 preparation faculty, related services faculty,                 administrators, researchers, supervisors, principals,                 and other persons whose work affects early intervention,                 educational, and transitional services for children with                 disabilities, including children with disabilities who                 are limited English proficient children.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ce%2C"><span class="subindex">
       (e)
     </span></a> 
Applications.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ce%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--An eligible entity that wishes to receive         a grant, or enter into a contract or cooperative agreement,         under this section shall submit an application to the Secretary         at such time, in such manner, and containing such information as         the Secretary may require.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ce%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Identified state needs.--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ce%2C2%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
Requirement to address identified needs.--An                 application for assistance under subsection (b), (c), or                 (d) shall include information demonstrating to the                 satisfaction of the Secretary that the activities                 described in the application will address needs                 identified by the State or States the eligible entity                 proposes to serve.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ce%2C2%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Cooperation with state educational agencies.--                An eligible entity that is not a local educational                 agency or a State educational agency shall include in                 the eligible entity's application information                 demonstrating to the satisfaction of the Secretary that                 the eligible entity and 1 or more State educational                 agencies or local educational agencies will cooperate in                 carrying out and monitoring the proposed project.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ce%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Acceptance by states of personnel preparation         requirements.--The Secretary may require eligible entities to         provide in the eligible entities' applications assurances from 1         or more States that such States intend to accept successful         completion of the proposed personnel preparation program as         meeting State personnel standards or other requirements in        State law or regulation for serving children with disabilities         or serving infants and toddlers with disabilities.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cf%2C"><span class="subindex">
       (f)
     </span></a> 
Selection of Recipients.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cf%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
Impact of project.--In selecting eligible entities for         assistance under this section, the Secretary shall consider the         impact of the proposed project described in the application in         meeting the need for personnel identified by the States.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cf%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Requirement for eligible entities to meet state and         professional qualifications.--        The &lt;&lt;NOTE: Grants. Contracts.&gt;&gt; Secretary shall make grants and         enter into contracts and cooperative agreements under this         section only to eligible entities that meet State and         professionally recognized qualifications for the preparation of         special education and related services personnel, if the purpose         of the project is to assist personnel in obtaining degrees.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cf%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Preferences.--In selecting eligible entities for         assistance under this section, the Secretary may give preference         to eligible entities that are institutions of higher education         that are--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cf%2C3%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
educating regular education personnel to meet                 the needs of children with disabilities in integrated                 settings;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cf%2C3%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
educating special education personnel to work                 in collaboration with regular educators in integrated                 settings; and
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cf%2C3%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
successfully recruiting and preparing                 individuals with disabilities and individuals from                 groups that are underrepresented in the profession for                 which the institution of higher education is preparing                 individuals.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cg%2C"><span class="subindex">
       (g)
     </span></a> 
Scholarships.--The Secretary may include funds for scholarships, with necessary stipends and allowances, in awards under subsections (b), (c), and (d).
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ch%2C"><span class="subindex">
       (h)
     </span></a> 
Service Obligation.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ch%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--Each application for assistance under         subsections (b), (c), and (d) shall include an assurance that         the eligible entity will ensure that individuals who receive a         scholarship under the proposed project agree to subsequently         provide special education and related services to children with         disabilities, or in the case of leadership personnel to         subsequently work in the appropriate field, for a period of 2         years for every year for which the scholarship was received or         repay all or part of the amount of the scholarship, in         accordance with regulations issued by the Secretary.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ch%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Special rule.--Notwithstanding paragraph (1), the         Secretary may reduce or waive the service obligation requirement         under paragraph (1) if the Secretary determines that the service         obligation is acting as a deterrent to the recruitment of         students into special education or a related field.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ch%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Secretary's responsibility.--The Secretary--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ch%2C3%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
shall ensure that individuals described in                 paragraph (1) comply with the requirements of that                 paragraph; and
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ch%2C3%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
may use not more than 0.5 percent of the funds                 appropriated under subsection (i) for each fiscal year,                 to carry out subparagraph (A), in addition to any other                 funds that are available for that purpose.
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Ch%2C3%2CB%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
Authorization of Appropriations.--There are authorized to be appropriated to carry out this section such sums as may be necessary for each of the fiscal years 2005 through 2010.
</p><br><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C661%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C663%2C">Next</a></td>
</tr></table><div style="clear:both"></div>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-12-19/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

</body>
</html>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9981315-5']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>





