<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
<a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble</a> / <a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2Cprepart2%2CE%2C">Procedural Safeguards</a>
</div><p style="padding: 0px 0px 0px 0px">
Resolution meeting (Sec. 300.510(a))<p style="padding: 0px 0px 0px 20px">
Comment:  One commenter expressed concern that the resolution process under the due process complaint procedures could limit the State complaint procedures as a means of resolving disputes.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  The due process complaint procedures and the State complaint procedures are separate and distinct.  The State complaint procedures remain a viable alternative to the due process procedures for parents to resolve disputes with public agencies in a less formal and more cost-effective manner.</p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  Several commenters recommended that the regulations require an LEA to notify the parent, within five days of receiving a due process complaint, whether the LEA intends to convene a resolution meeting or waive the session.  The commenters recommended that the notice include a signature line for a parent to indicate an agreement to waive the resolution meeting.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  Section 615(f)(1)(B) of the Act requires an LEA to convene a resolution meeting with the parent and the relevant member(s) of the IEP Team within 15 days of receiving notice of the parent's due process complaint.  The purpose of the meeting is for the parent to discuss the due process complaint and the facts that form the basis of the due process complaint so that the LEA has an opportunity to resolve the dispute.  We do not believe it is necessary to require an LEA to notify the parent within five days of receiving a due process complaint about the LEA's intention to convene or waive the resolution process.  An LEA that wishes to engage in a resolution meeting will need to contact the parent to arrange the meeting soon after the due process complaint is received in order to ensure that the resolution meeting is held within 15 days.</p><p style="padding: 0px 0px 0px 20px">
	Section 300.510(a)(3) provides that the resolution meeting does not need to be held if the parent and the LEA agree in writing to waive the meeting, or if the parent and LEA agree to use the mediation process to resolve the complaint.  The manner in which the LEA and parent come to an agreement to waive the resolution meeting is left to the discretion of States and LEAs.  We do not believe that there is a need to regulate further in this area.</p><p style="padding: 0px 0px 0px 20px">
Changes:  None. </p><p style="padding: 0px 0px 0px 20px">
Comment:  Some commenters asked whether the requirements for resolution meetings apply when an LEA initiates a due process hearing.  A few commenters recommended that the requirements for resolution meetings should not apply when an LEA initiates a due process hearing.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  Section 615(f)(1)(B)(i) of the Act requires an LEA to convene a resolution meeting when a parent files a due process complaint.  Consistent with section 615(f)(1)(B)(i)(IV) of the Act, the resolution meeting provides an opportunity for the parents of the child to discuss their complaint, and the facts that form the basis of the complaint, so that the LEA has an opportunity to resolve the complaint.  There is no provision requiring a resolution meeting when an LEA is the complaining party.  The Department's experience has shown that LEAs rarely initiate due process proceedings.</p><p style="padding: 0px 0px 0px 20px">
Changes:  None.  </p><p style="padding: 0px 0px 0px 20px">
Comment:  Some commenters recommended that the regulations clarify that, in addition to their attorney, parents may bring other participants to the resolution meeting, such as an advocate or family friend.  Other commenters recommended that neither party should be permitted to bring an attorney to the resolution meeting.  Some commenters recommended requiring parents to notify the LEA at least one day before the resolution meeting whether their attorney will be participating in the resolution meeting.  Other commenters, however, stated that parents should not be required to notify the LEA in advance of the meeting whether the parent plans to bring anyone to the meeting.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  Section 615(f)(1)(B)(i) of the Act states that an LEA must convene a resolution meeting with the parents and the relevant members of the IEP Team who have specific knowledge of the facts identified in the due process complaint that includes a representative of the public agency who has decision-making authority on behalf of that agency, and may not include the LEA's attorney unless the parent is accompanied by an attorney.  </p><p style="padding: 0px 0px 0px 20px">
Section 300.510(a)(4) states that the parent and the LEA determine the relevant members of the IEP Team to attend the resolution meeting.  We do not believe it is necessary to clarify that a parent may bring other participants, such as an advocate or family friend, to the resolution meeting because section 614(d)(1)(B)(vi) of the Act and Sec. 300.321(a)(6) are clear that the IEP Team may include, at the discretion of the parent or the agency, other individuals who have knowledge or special expertise regarding the child.  Therefore, such individuals could attend the resolution meeting if the LEA or parent determined that such individuals are relevant members of the IEP Team.</p><p style="padding: 0px 0px 0px 20px">
We do not believe it is necessary to regulate on whether a parent must provide advance notice to the LEA that the parent intends to bring an attorney to the resolution meeting because we expect that it would not be in the interest of the parent to withhold such information prior to a resolution meeting so as to appear at the resolution meeting with an attorney without advance notice to the public agency.  In such cases, the public agency could refuse to hold the resolution meeting until it could arrange the attendance of its attorney (within the 15-day period).  The parent would incur additional expenses from having to bring their attorney to two resolution meetings. </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  Some commenters requested clarification regarding whether the parent and the LEA must agree to the parties who will attend the resolution meeting, or whether the parent and the LEA can decide independently who will attend the meeting.  The commenters recommended that any disputes regarding who should attend the resolution meeting should be resolved in a timely manner and the meeting should proceed with all the disputed participants when there is no agreement within the 15-day period.  Some commenters stated that allowing parents to determine which members of the IEP Team should attend the resolution meeting exceeds statutory authority.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  Section 615(f)(1)(B)(i) of the Act requires the LEA to convene a resolution meeting with the parent and the relevant member(s) of the IEP Team who have specific knowledge of the facts identified in the complaint.  Section 300.510(a)(4) requires the parent and the LEA to determine the relevant members of the IEP Team who will attend the meeting.  We urge LEAs and parents to act cooperatively in determining who will attend the resolution meeting, as a resolution meeting is unlikely to result in any resolution of the dispute if the parties cannot even agree on who should attend.  The parties should keep in mind that the resolution process offers a valuable chance to resolve disputes before expending what can be considerable time and money in due process hearings.  We decline to regulate further on how to resolve disputes about who should attend these meetings in the absence of information about specific problems in the process.</p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  Some commenters recommended that the regulations provide information on how a resolution meeting should proceed.  Several commenters expressed concern that the regulations offer no guidance on the protocol or structure of resolution meetings, and do not specify whether an impartial mediator or facilitator should conduct the meeting.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  Section 615(f)(1)(B)(i)(IV) of the Act states that the purpose of a resolution meeting is for parents to discuss their due process complaint and the facts that form the basis of the due process complaint so that the LEA has an opportunity to resolve the dispute.  We do not believe that it is necessary or appropriate to regulate on the specific structure or protocol for resolution meetings as doing so could interfere with the LEA and the parent in their efforts to resolve the complaint in the resolution meeting.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  A few commenters recommended that the regulations address the need for families to receive training in dispute resolution.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  There is nothing in the Act that would prevent a public agency from offering training in dispute resolution or referring parents to organizations that provide training in dispute resolution.  Such matters are best left to local and State officials to determine, based on the training needs of parents and families.  Therefore, we decline to regulate on this matter.</p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter recommended allowing parents to participate in resolution meetings through alternative means (e.g., teleconferences) and alternative procedures (e.g., participation by a child's court-appointed advocate) when parents are unavailable (e.g., military service, hospitalization). </p><p style="padding: 0px 0px 0px 20px">
Discussion:  We understand that circumstances beyond a parent's control (e.g., military service, hospitalization) may prevent a parent from attending a resolution meeting in person.  If the LEA notifies the parent of its intent to schedule a resolution meeting within 15 days of receiving notice of the parent's due process complaint, and the parent informs the LEA in advance of the meeting that circumstances prevent the parent from attending the meeting in person, it would be appropriate for an LEA to offer to use alternative means to ensure parent participation, such as those described in Sec. 300.328, including videoconferences or conference telephone calls, subject to the parent's agreement.  </p><p style="padding: 0px 0px 0px 20px">
There is no authority in the Act for an LEA to permit a court-appointed advocate to attend the resolution meeting in place of a parent, unless the public agency has appointed that individual as a surrogate parent in accordance with Sec. 300.519, or the agency determines that the person is a person acting in the place of the biological or adoptive parent of the child in accordance with Sec. 300.30(a)(4).  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p></p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2015-09-18/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
</body>

</html>




