<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
<a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble</a> / <a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2Cprepart2%2CB%2C">State Eligibility</a>
</div><p style="padding: 0px 0px 0px 0px">
Complaints filed under this section and due process hearings under Sec. 300.507 or Sec. Sec. 300.530 through 300.532 (Sec. 300.152(c))<p style="padding: 0px 0px 0px 20px">
Comment:  A few commenters requested that the regulations include a provision to allow parents to use the State complaint process to enforce agreements reached in mediation and resolution sessions.  One commenter expressed concern that if an SEA does not have authority to enforce agreements arising from mediation and resolution sessions, the burden will be on a parent to incur costs necessary to file a petition with a court to have the agreement enforced.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  The Act provides that the enforcement and implementation of agreements reached through mediation and resolution sessions may be obtained through State and Federal courts.  Section 300.506(b)(7), consistent with section 615(e)(2)(F)(iii) of the Act, states that a written, signed mediation agreement is enforceable in any State court of competent jurisdiction or in a district court of the United States.  Similarly, Sec. 300.510(c)(2), consistent with section 615(f)(1)(B)(iii)(II) of the Act, states that a written settlement agreement resulting from a resolution meeting is enforceable in any State court of competent jurisdiction or in a district court of the United States.  </p><p style="padding: 0px 0px 0px 20px">
However, as noted in the Analysis of Comments and Changes for subpart E, we have added new Sec. 300.537 that allows, but does not require, a State to have mechanisms or procedures that permit parties to mediation or resolution agreements to seek enforcement of those agreements and decisions at the SEA level.  We believe this provision is sufficient to allow States the flexibility to determine what mechanisms or procedures, if any, may be appropriate to enforce such agreements, including utilizing their State complaint procedures, if they choose to do so, so long as the mechanisms or procedures are not used to deny or delay a parent's right to seek enforcement through State and Federal courts. </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  Numerous commenters requested that current Sec. 300.661(c)(3), regarding the SEA's responsibility to resolve complaints alleging a public agency's failure to implement due process decisions, be retained.  Many commenters raised concerns that removing this language will lead to more litigation.  One commenter stated that parents would be forced to litigate due process decisions, which will prolong the denial of FAPE to children.  Another commenter stated that not allowing States to enforce a hearing officer's decision encourages litigation because it is the only avenue for relief.  Several commenters stated that parents are placed at a disadvantage because they may not have the resources to file in State or Federal court.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  The SEA's obligation to implement a final hearing decision is consistent with the SEA's general supervisory responsibility, under sections 612(a)(11) and 616 of the Act, over all education programs for children with disabilities in the State, which includes taking necessary and appropriate actions to ensure that the provision of FAPE and all the requirements in Part B of the Act and part 300 are carried out.  However, we agree that the requirements from current Sec. 300.661(c)(3) should be retained for clarity.</p><p style="padding: 0px 0px 0px 20px">
Changes:  We have added the requirement in current Sec. 300.661(c)(3) as new Sec. 300.152(c)(3).</p><p style="padding: 0px 0px 0px 20px">
Comment:  Numerous commenters requested retaining current Sec. 300.661(c)(1), which requires that any issue in the complaint that is not a part of a due process complaint be resolved using the applicable State complaint timelines and procedures.  One commenter stated that Sec. 300.152(c)(1) requires the State to set aside an entire complaint if due process proceedings commence with respect to any subject that is raised in the complaint.  A few commenters expressed concern that if issues in a State complaint, which are not part of a due process complaint, are not investigated until the due process complaint is resolved, children may go without FAPE for extended periods of time.  These commenters also stated that parents are likely to file for due process on every issue of concern, rather than using the more expeditious and less expensive State complaint procedures.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  We agree that language in current Sec. 300.661(c), requiring that States set aside any part of a State complaint that is being addressed in a due process hearing, until the conclusion of the hearing and resolve any issue that is not a part of the due process hearing, should be retained. </p><p style="padding: 0px 0px 0px 20px">
Changes:  We have revised Sec. 300.152(c)(1) by adding the requirements in current Sec. 300.661(c)(1) to the regulations.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter stated that the regulations do not address the disposition of a complaint if a parent and a public agency come to a resolution of a complaint through mediation.  One commenter recommended that the regulations provide guidance on how an SEA should handle a complaint that is withdrawn.  Another commenter requested clarification on what should occur if an SEA does not approve of the agreement reached between the parent and the public agency.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  We do not believe it is necessary to regulate on these matters, as recommended by the commenters.  Section 615(e)(2)(F) of the Act and Sec. 300.506(b)(7) clarify that an agreement reached through mediation is a legally binding document enforceable in State and Federal courts.  Therefore, an agreement reached through mediation is not subject to the SEA's approval.  We strongly encourage parties to resolve a complaint at the local level without the need for the SEA to intervene.  If a complaint is resolved at the local level or is withdrawn, no further action is required by the SEA to resolve the complaint.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter suggested including language in the regulations that would require parties to provide evidence under threat of perjury.  Another commenter stated that the State complaint process should be non-adversarial and that neither party should have the right to review the other's submissions or to cross-examine the other party.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  We do not believe it is appropriate to include the language suggested by the commenters because we believe requiring parties to provide evidence under the threat of perjury, permitting parties to review submissions, and allowing one party to cross-examine the other party are contrary to the intent of the State complaint process.  The State complaint process is intended to be less adversarial than the more formal filing of a due process complaint and possibly going to a due process hearing.  To make the changes requested by the commenters will serve only to make the State complaint process more adversarial and will not be in the best interest of the child.  The State complaint procedures in Sec. Sec. 300.151 through 300.153 do not require parties to provide evidence, nor do they require that a State allow parties to review the submissions of the other party or to cross-examine witnesses.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p></p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2015-09-19/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91878426-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>




