<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 open"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CA%2C">A General</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CB%2C">B State Eligibility</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CC%2C">C Local Educational Agency Eligibility</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C">D Evaluations, Eligibility Determinations, Individualized Education Programs, and Educational Placements</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CE%2C">E Procedural Safeguards</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CF%2C">F Monitoring, Enforcement, Confidentiality, and Program Information</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CG%2C">G Authorization, Allotment, Use of Funds, and Authorization of Appropriations</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CH%2C">H Preschool Grants for Children with Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
       Regulations: Part   
       <a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">300</a> / <a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C">D</a> / 300.324</div><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E300%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E325%2C">Next</a></td>
</tr></table><div style="clear:both"></div><h2>
    Sec. 300.324 Development, review, and revision of IEP.</h2><p></p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C"><span class="subindex">
       (a)
     </span></a> 
          Development of IEP.
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
            General. In developing each child's IEP, the IEP Team must consider--
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C1%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              The strengths of the child;
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C1%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              The concerns of the parents for enhancing the education of their child;
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C1%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
              The results of the initial or most recent evaluation of the child; and
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C1%2Civ%2C"><span class="subindex">
       (iv)
     </span></a> 
              The academic, developmental, and functional needs of the child.
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
            Consideration of special factors. The IEP Team must--
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C2%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              In the case of a child whose behavior impedes the child's learning or that of others, consider the use of
              positive behavioral interventions and supports, and other strategies, to address that behavior;
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C2%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              In the case of a child with limited English proficiency, consider the language needs of the child as those
              needs relate to the child's IEP;
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C2%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
              In the case of a child who is blind or visually impaired, provide for instruction in Braille and the use
              of Braille unless the IEP Team determines, after an evaluation of the child's reading and writing skills,
              needs, and appropriate reading and writing media (including an evaluation of the child's future needs for
              instruction in Braille or the use of Braille), that instruction in Braille or the use of Braille is not
              appropriate for the child;
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C2%2Civ%2C"><span class="subindex">
       (iv)
     </span></a> 
              Consider the communication needs of the child, and in the case of a child who is deaf or hard of hearing,
              consider the child's language and communication needs, opportunities for direct communications with peers
              and professional personnel in the child's language and communication mode, academic level, and full range
              of needs, including opportunities for direct instruction in the child's language and communication mode;
              and
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C2%2Cv%2C"><span class="subindex">
       (v)
     </span></a> 
              Consider whether the child needs assistive technology devices and services.
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
            Requirement with respect to regular education teacher. A regular education teacher of a child with a
            disability, as a member of the IEP Team, must, to the extent appropriate, participate in the development of
            the IEP of the child, including the determination of--
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C3%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              Appropriate positive behavioral interventions and supports and other strategies for the child; and
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C3%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              Supplementary aids and services, program modifications, and support for school personnel consistent with
              Sec. 300.320(a)(4).
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
            Agreement. (i) In making changes to a child's IEP after the annual IEP Team meeting for a school year, the
            parent of a child with a disability and the public agency may agree not to convene an IEP Team meeting for
            the purposes of making those changes, and instead may develop a written document to amend or modify the
            child's current IEP.
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C4%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              If changes are made to the child's IEP in accordance with paragraph (a)(4)(i) of this section, the public
              agency must ensure that the child's IEP Team is informed of those changes.
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C5%2C"><span class="subindex">
       (5)
     </span></a> 
            Consolidation of IEP Team meetings. To the extent possible, the public agency must encourage the
            consolidation of reevaluation meetings for the child and other IEP Team meetings for the child.
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Ca%2C6%2C"><span class="subindex">
       (6)
     </span></a> 
            Amendments. Changes to the IEP may be made either by the entire IEP Team at an IEP Team meeting, or as
            provided in paragraph (a)(4) of this section, by amending the IEP rather than by redrafting the entire IEP.
            Upon request, a parent must be provided with a revised copy of the IEP with the amendments incorporated.
          </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C"><span class="subindex">
       (b)
     </span></a> 
          Review and revision of IEPs.
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
            General. Each public agency must ensure that, subject to paragraphs (b)(2) and (b)(3) of this section, the
            IEP Team--
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C1%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              Reviews the child's IEP periodically, but not less than annually, to determine whether the annual goals
              for the child are being achieved; and
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C1%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              Revises the IEP, as appropriate, to address--
            </p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C1%2Cii%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
                Any lack of expected progress toward the annual goals described in Sec. 300.320(a)(2), and in the
                general education curriculum, if appropriate;
              </p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C1%2Cii%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
                The results of any reevaluation conducted under Sec. 300.303;
              </p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C1%2Cii%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
                Information about the child provided to, or by, the parents, as described under Sec. 300.305(a)(2);
              </p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C1%2Cii%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
                The child's anticipated needs; or
              </p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C1%2Cii%2CE%2C"><span class="subindex">
       (E)
     </span></a> 
                Other matters.
              </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
            Consideration of special factors. In conducting a review of the child's IEP, the IEP Team must consider the
            special factors described in paragraph (a)(2) of this section.
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cb%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
            Requirement with respect to regular education teacher. A regular education teacher of the child, as a member
            of the IEP Team, must, consistent with paragraph (a)(3) of this section, participate in the review and
            revision of the IEP of the child.
          </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cc%2C"><span class="subindex">
       (c)
     </span></a> 
          Failure to meet transition objectives.
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cc%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
            Participating agency failure. If a participating agency, other than the public agency, fails to provide the
            transition services described in the IEP in accordance with Sec. 300.320(b), the public agency must
            reconvene the IEP Team to identify alternative strategies to meet the transition objectives for the child
            set out in the IEP.
          </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cc%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
            Construction. Nothing in this part relieves any participating agency, including a State vocational
            rehabilitation agency, of the responsibility to provide or pay for any transition service that the agency
            would otherwise provide to children with disabilities who meet the eligibility criteria of that agency.
          </p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cd%2C"><span class="subindex">
       (d)
     </span></a> 
          Children with disabilities in adult prisons.
        </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cd%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
            Requirements that do not apply. The following requirements do not apply to children with disabilities who
            are convicted as adults under State law and incarcerated in adult prisons:
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cd%2C1%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
              The requirements contained in section 612(a)(16) of the Act and Sec. 300.320(a)(6) (relating to
              participation of children with disabilities in general assessments).
            </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cd%2C1%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              The requirements in Sec. 300.320(b) (relating to transition planning and transition services) do not apply
              with respect to the children whose eligibility under Part B of the Act will end, because of their age,
              before they will be eligible to be released from prison based on consideration of their sentence and
              eligibility for early release.
            </p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cd%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
            Modifications of IEP or placement. (i) Subject to paragraph (d)(2)(ii) of this section, the IEP Team of a
            child with a disability who is convicted as an adult under State law and incarcerated in an adult prison may
            modify the child's IEP or placement if the State has demonstrated a bona fide security or compelling
            penological interest that cannot otherwise be accommodated.
          </p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E324%2Cd%2C2%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
              The requirements of Sec. Sec. 300.320 (relating to IEPs), and 300.112 (relating to LRE), do not apply with
              respect to the modifications described in paragraph (d)(2)(i) of this section.
            </p><p>
   (Authority: 
        20 U.S.C. 1412(a)(1), 1412(a)(12)(A)(i), 1414(d)(3), (4)(B), and (7); and 1414(e)
      )
   </p><p></p><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E300%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2CD%2C300%252E325%2C">Next</a></td>
</tr></table><div style="clear:both"></div>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-12-24/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91878426-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>




