<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">TITLE I</a></li>
    <li class="tree2 no_child" id="at"><a href="/explore/view/p/%2Croot%2Cstatute%2C">TITLE II</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CIII%2C">TITLE III</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <h2>TITLE II -- NATIONAL CENTER FOR SPECIAL EDUCATION RESEARCH</h2><p>


<style type="text/css">
.part {padding: 10px 0px; text-align: center; font-size: 1.5em; font-weight: bolder;}
.sub1 {padding: 5px 0px 5px 10px; font-weight: bold;}
.sub2 {padding: 5px 0px 0px 20px; }
.sub3 {padding: 5px 0px 0px 30px; }
.sub4 {padding: 5px 0px 0px 40px; }
.sub5 {padding: 5px 0px 0px 50px; }

.clone-sub1 {padding: 5px 0px 5px 10px; font-weight: lighter; }
.clone-sub2 {padding: 5px 0px 0px 20px; font-weight: lighter;}
.clone-sub3 {padding: 5px 0px 0px 30px; font-weight: lighter;}
.clone-sub4 {padding: 5px 0px 0px 40px; font-weight: lighter;}
.clone-sub5 {padding: 5px 0px 0px 50px; font-weight: lighter;}

.content_title {padding: 10px; font-weight:bolder;}
.content_item {padding-left: 20px;}
.subpart {padding: 10px; font-weight:bolder;}
</style>

  <h3>SEC. 201. NATIONAL CENTER FOR SPECIAL EDUCATION
  RESEARCH.</h3>

  <div class="sub2">
    (a) Amendment.--The Education Sciences Reform Act of 2002 (20
    U.S.C. 9501 et seq.) is amended--
  </div>

  <div class="sub3">
    (1) by redesignating part E as part F; and
  </div>

  <div class="sub3">
    (2) by inserting after part D the following:
  </div>

  <div class="part">
    PART E--NATIONAL CENTER FOR SPECIAL EDUCATION RESEARCH
  </div>

  <div class="sub1">
    SEC. 175. NOTE: 20 USC 9567. ESTABLISHMENT.
  </div>

  <div class="sub2">
    (a) Establishment.--There is established in the Institute a
    National Center for Special Education Research (in this part
    referred to as the `Special Education Research Center').
  </div>

  <div class="sub2">
    (b) Mission.--The mission of the Special Education Research
    Center is--
  </div>

  <div class="sub3">
    (1) to sponsor research to expand knowledge and understanding
    of the needs of infants, toddlers, and children with
    disabilities in order to improve the developmental,
    educational, and transitional results of such individuals;
  </div>

  <div class="sub3">
    (2) to sponsor research to improve services provided under, and
    support the implementation of, the Individuals with
    Disabilities Education Act (20 U.S.C. 1400 et seq.); and
  </div>

  <div class="sub3">
    (3) to evaluate the implementation and effectiveness of the
    Individuals with Disabilities Education Act in coordination
    with the National Center for Education Evaluation and Regional
    Assistance.
  </div>

  <div class="sub2">
    (c) Applicability of Education Sciences Reform Act of
    2002.--Parts A and F, and the standards for peer review of
    applications and for the conduct and evaluation of research
    under sections 133(a) and 134, respectively, shall apply to the
    Secretary, the Director, and the Commissioner in carrying out
    this part.
  </div>

  <div class="sub1">
    SEC. 176. NOTE: 20 USC 9567a. COMMISSIONER FOR SPECIAL
    EDUCATION RESEARCH.
  </div>

  <p>The Special Education Research Center shall be headed by a
  Commissioner for Special Education Research (in this part
  referred to as the `Special Education Research Commissioner') who
  [[Page 118 STAT. 2800]] shall have substantial knowledge of the
  Special Education Research Center's activities, including a high
  level of expertise in the fields of research, research
  management, and the education of children with disabilities.</p>

  <div class="sub1">
    SEC. 177. NOTE: 20 USC 9567b. DUTIES.
  </div>

  <div class="sub2">
    (a) General Duties.--The Special Education Research Center
    shall carry out research activities under this part consistent
    with the mission described in section 175(b), such as
    activities that--
  </div>

  <div class="sub3">
    (1) improve services provided under the Individuals with
    Disabilities Education Act in order to improve--
  </div>

  <div class="sub4">
    (A) academic achievement, functional outcomes, and educational
    results for children with disabilities; and
  </div>

  <div class="sub4">
    (B) developmental outcomes for infants or toddlers with
    disabilities;
  </div>

  <div class="sub3">
    (2) identify scientifically based educational practices that
    support learning and improve academic achievement, functional
    outcomes, and educational results for all students with
    disabilities;
  </div>

  <div class="sub3">
    (3) examine the special needs of preschool aged children,
    infants, and toddlers with disabilities, including factors that
    may result in developmental delays;
  </div>

  <div class="sub3">
    (4) identify scientifically based related services and
    interventions that promote participation and progress in the
    general education curriculum and general education settings;
  </div>

  <div class="sub3">
    (5) improve the alignment, compatibility, and development of
    valid and reliable assessments, including alternate
    assessments, as required by section 1111(b) of the Elementary
    and Secondary Education Act of 1965 (20 U.S.C. 6311(b));
  </div>

  <div class="sub3">
    (6) examine State content standards and alternate assessments
    for students with significant cognitive impairment in terms of
    academic achievement, individualized instructional need,
    appropriate education settings, and improved post-school
    results;
  </div>

  <div class="sub3">
    (7) examine the educational, developmental, and transitional
    needs of children with high incidence and low incidence
    disabilities;
  </div>

  <div class="sub3">
    (8) examine the extent to which overidentification and
    underidentification of children with disabilities occurs, and
    the causes thereof;
  </div>

  <div class="sub3">
    (9) improve reading and literacy skills of children with
    disabilities;
  </div>

  <div class="sub3">
    (10) examine and improve secondary and postsecondary education
    and transitional outcomes and results for children with
    disabilities;
  </div>

  <div class="sub3">
    (11) examine methods of early intervention for children with
    disabilities, including children with multiple or complex
    developmental delays;
  </div>

  <div class="sub3">
    (12) examine and incorporate universal design concepts in the
    development of standards, assessments, curricula, and
    instructional methods to improve educational and transitional
    results for children with disabilities;
  </div>

  <div class="sub3">
    (13) improve the preparation of personnel, including early
    intervention personnel, who provide educational and related
    services to children with disabilities to increase the academic
    achievement and functional performance of students with
    disabilities;
  </div>

  <div class="sub3">
    (14) examine the excess costs of educating a child with a
    disability and expenses associated with high cost special
    education and related services;
  </div>

  <div class="sub3">
    (15) help parents improve educational results for their
    children, particularly related to transition issues;
  </div>

  <div class="sub3">
    (16) address the unique needs of children with significant
    cognitive disabilities; and
  </div>

  <div class="sub3">
    (17) examine the special needs of limited English proficient
    children with disabilities.
  </div>

  <div class="sub2">
    (b) Standards.--The Special Education Research Commissioner
    shall ensure that activities assisted under this section--
  </div>

  <div class="sub3">
    (1) conform to high standards of quality, integrity, accuracy,
    validity, and reliability;
  </div>

  <div class="sub3">
    (2) are carried out in accordance with the standards for the
    conduct and evaluation of all research and development
    established by the National Center for Education Research; and
  </div>

  <div class="sub3">
    (3) are objective, secular, neutral, and nonideological, and
    are free of partisan political influence, and racial, cultural,
    gender, regional, or disability bias.
  </div>

  <div class="sub2">
    (c) Plan.--The Special Education Research Commissioner shall
    propose to the Director a research plan, developed in
    collaboration with the Assistant Secretary for Special
    Education and Rehabilitative Services, that--
  </div>

  <div class="sub3">
    (1) is consistent with the priorities and mission of the
    Institute and the mission of the Special Education Research
    Center;
  </div>

  <div class="sub3">
    (2) is carried out, updated, and modified, as appropriate;
  </div>

  <div class="sub3">
    (3) is consistent with the purposes of the Individuals with
    Disabilities Education Act;
  </div>

  <div class="sub3">
    (4) contains an appropriate balance across all age ranges and
    types of children with disabilities;
  </div>

  <div class="sub3">
    (5) provides for research that is objective and uses measurable
    indicators to assess its progress and results; and
  </div>

  <div class="sub3">
    (6) is coordinated with the comprehensive plan developed under
    section 681 of the Individuals with Disabilities Education Act.
  </div>

  <div class="sub2">
    (d) Grants, Contracts, and Cooperative Agreements.--
  </div>

  <div class="sub3">
    (1) In general.--In carrying out the duties under this section,
    the Director may award grants to, or enter into contracts or
    cooperative agreements with, eligible applicants.
  </div>

  <div class="sub3">
    (2) Eligible applicants.--Activities carried out under this
    subsection through contracts, grants, or cooperative agreements
    shall be carried out only by recipients with the ability and
    capacity to conduct scientifically valid research.
  </div>

  <div class="sub3">
    (3) Applications.--An eligible applicant that wishes to receive
    a grant, or enter into a contract or cooperative agreement,
    under this section shall submit an application to the Director
    at such time, in such manner, and containing such information
    as the Director may require.
  </div>

  <div class="sub2">
    (e) Dissemination.--The Special Education Research Center
    shall--
  </div>

  <div class="sub3">
    (1) synthesize and disseminate, through the National Center for
    Education Evaluation and Regional Assistance, the findings and
    results of special education research conducted or supported by
    the Special Education Research Center; and
  </div>

  <div class="sub3">
    (2) assist the Director in the preparation of a biennial
    report, as described in section 119.
  </div>

  <div class="sub2">
    (f) Authorization of Appropriations.--There are authorized to
    be appropriated to carry out this part such sums as may be
    necessary for each of fiscal years 2005 through 2010.''.
  </div>

  <div class="clone-sub3">
    (b) Conforming Amendments.--
  </div>

  <div class="clone-sub4">
    (1) Amendments to the table of contents.--The table of contents
    in section 1 of the Act entitled An Act to provide for
    improvement of Federal education research, statistics,
    evaluation, information, and dissemination, and for other
    purposes'', approved November 5, 2002 (116 Stat. 1940; Public
    Law 107-279), is amended--
  </div>

  <div class="clone-sub5">
    (A) by redesignating the item relating to part E as the item
    relating to part F; and
  </div>

  <div class="clone-sub5">
    (B) by inserting after the item relating to section 174 the
    following:
  </div>

  <div class="part">
    Part E--National Center for Special Education Research
  </div>

  <div class="sub1">
    Sec. 175. Establishment.
  </div>

  <div class="sub1">
    Sec. 176. Commissioner for Special Education Research.
  </div>

  <div class="sub1">
    Sec. 177. Duties.''.
  </div>

  <div class="sub3">
    (2) Education sciences reform act of 2002.--The Education
    Sciences Reform Act of 2002 (20 U.S.C. 9501 et seq.) is
    amended--
  </div>

  <div class="clone-sub4">
    (A) in section 111(b)(1)(A) (20 U.S.C. 9511(b)(1)(A)), by
    inserting and special education'' after early childhood
    education'';
  </div>

  <div class="clone-sub4">
    (B) in section 111(c)(3) (20 U.S.C. 9511(c)(3))--
  </div>

  <div class="clone-sub5">
    (i) in subparagraph (B), by striking and'' after the semicolon;
  </div>

  <div class="clone-sub5">
    (ii) in subparagraph (C), by striking the period and inserting
    ; and''; and
  </div>

  <div class="clone-sub5">
    (iii) by adding at the end the following: (D) the National
    Center for Special Education Research (as described in part
    E).'';
  </div>

  <div class="clone-sub4">
    (C) in section 115(a) (20 U.S.C. 9515(a)), by striking
    including those'' and all that follows through such as'' and
    inserting including those associated with the goals and
    requirements of the Elementary and Secondary Education Act of
    1965 (20 U.S.C. 6301 et seq.), the Individuals with
    Disabilities Education Act (20 U.S.C. 1400 et seq.), and the
    Higher Education Act of 1965 (20 U.S.C. 1001 et seq.), such
    as''; and
  </div>

  <div class="clone-sub4">
    (D) in section 116(c)(4)(A)(ii) (20 U.S.C. 9516(c)(4)(A)(ii),
    by inserting special education experts,'' after early childhood
    experts,''.
  </div>

  <div class="sub3">
    (3) Elementary and secondary education act of 1965.--Section
    1117(a)(3) of the Elementary and Secondary Education Act of
    1965 (20 U.S.C. 6317(a)(3)) is amended by striking part E'' and
    inserting part D''.
  </div>

  <div class="sub1">
    SEC. 202. NATIONAL BOARD FOR EDUCATION SCIENCES.

    <p>Section 116(c)(9) of the Education Sciences Reform Act of
    2002 (20 U.S.C. 9516(c)(9)) is amended by striking the third
    sentence and inserting the following: Meetings of the Board are
    subject to section 552b of title 5, United States Code
    (commonly referred to as the Government in the Sunshine
    Act).''.</p>
  </div>

  <div class="sub1">
    SEC. 203. REGIONAL ADVISORY COMMITTEES.

    <p>Section 206(d)(3) of the Educational Technical Assistance
    Act of 2002 (20 U.S.C. 9605(d)(3)) is amended by striking
    Academy'' and inserting Institute''.</p>
  </div>



</p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-11-23/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

</body>
</html>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9981315-5']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>





