<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    <li class="tree2 open"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">TITLE I</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C">Part A</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C">Part B</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C">Part C</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C">Part D</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CII%2C">TITLE II</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CIII%2C">TITLE III</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
       Statute: TITLE    
       <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">I</a> / <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C">B</a> / 613</div><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C612%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C614%2C">Next</a></td>
</tr></table><div style="clear:both"></div><h2>
    Sec.  613 LOCAL EDUCATIONAL AGENCY ELIGIBILITY.</h2><p></p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C"><span class="subindex">
       (a)
     </span></a> 
In General.--A local educational agency is eligible for assistance under this part for a fiscal year if such agency submits a plan that provides assurances to the State educational agency that the local educational agency meets each of the following conditions:
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
Consistency with state policies.--The local         educational agency, in providing for the education of children         with disabilities within its jurisdiction, has in effect         policies, procedures, and programs that are consistent with the         State policies and procedures established under section 612.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Use of amounts.--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
In general.--Amounts provided to the local                 educational agency under this part shall be expended in                 accordance with the applicable provisions of this part                 and--
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CA%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
shall be used only to pay the excess                       costs of providing special education and related                       services to children with disabilities;
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CA%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
shall be used to supplement State,                       local, and other Federal funds and not to supplant                       such funds; and
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CA%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
shall not be used, except as provided                       in subparagraphs (B) and (C), to reduce the level                       of expenditures for the education of children with                       disabilities made by the local educational agency                       from local funds below the level of those                       expenditures for the preceding fiscal year.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Exception.--Notwithstanding the restriction in                 subparagraph (A)(iii), a local educational agency may                 reduce the level of expenditures where such reduction is                 attributable to--
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CB%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
the voluntary departure, by retirement                       or otherwise, or departure for just cause, of                       special education personnel;
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CB%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
a decrease in the enrollment of                       children with disabilities;
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CB%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
the termination of the obligation of                       the agency, consistent with this part, to provide                       a program of special education to a particular                       child with a disability that is an exceptionally                       costly program, as determined by the State                       educational agency, because the child--
</p><p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CB%2Ciii%2CI%2C"><span class="subindex">
       (I)
     </span></a> 
has left the jurisdiction of                                 the agency;
</p><p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CB%2Ciii%2CII%2C"><span class="subindex">
       (II)
     </span></a> 
has reached the age at which                                 the obligation of the agency to provide                                 a free appropriate public education to                                 the child has terminated; or
</p><p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CB%2Ciii%2CIII%2C"><span class="subindex">
       (III)
     </span></a> 
no longer needs such program                                 of special education; or
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CB%2Civ%2C"><span class="subindex">
       (iv)
     </span></a> 
the termination of costly expenditures                       for long-term purchases, such as the acquisition                       of equipment or the construction of school                       facilities.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
Adjustment to local fiscal effort in certain                 fiscal years.--
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CC%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
Amounts in excess.--Notwithstanding                       clauses (ii) and (iii) of subparagraph (A), for                       any fiscal year for which the allocation received                       by a local educational agency under section 611(f)                       exceeds the amount the local educational agency                       received for the previous fiscal year, the local                       educational agency may reduce the level of                       expenditures otherwise required by subparagraph                       (A)(iii) by not more than 50 percent of the amount                       of such excess.
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CC%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
Use of amounts to carry out activities                       under esea.--If a local educational agency                       exercises the authority under clause (i), the                       agency shall use an amount of local funds equal to                       the reduction in expenditures under clause (i) to                       carry out activities authorized under the                       Elementary and Secondary Education Act of 1965.
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CC%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
State prohibition.--Notwithstanding                       clause (i), if a State educational agency                       determines that a local educational agency is                       unable to establish and maintain programs of free                       appropriate public education that meet the                       requirements of subsection (a) or the State                       educational agency has taken action against the                       local educational agency under section 616, the                       State educational agency shall prohibit the local                       educational agency from reducing the level of                       expenditures under clause (i) for that fiscal                       year.
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CC%2Civ%2C"><span class="subindex">
       (iv)
     </span></a> 
Special rule.--The amount of funds                       expended by a local educational agency under                       subsection (f) shall count toward the maximum                       amount of expenditures such local educational                       agency may reduce under clause (i).
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
Schoolwide programs under title i of the                 esea.--Notwithstanding subparagraph (A) or any other                 provision of this part, a local educational agency may                 use funds received under this part for any fiscal year                 to carry out a schoolwide program under section 1114 of                 the Elementary and Secondary Education Act of 1965,                 except that the amount so used in any such program shall                 not exceed--
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CD%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
the number of children with disabilities                       participating in the schoolwide program;                       multiplied by                          (ii)(I) the amount received by the local                       educational agency under this part for that fiscal                       year; divided by
</p><p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C2%2CD%2Ci%2CII%2C"><span class="subindex">
       (II)
     </span></a> 
the number of children with                       disabilities in the jurisdiction of that agency.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Personnel development.--The local educational agency         shall ensure that all personnel necessary to carry out this part         are appropriately and adequately prepared, subject to the         requirements of section 612(a)(14) and section 2122 of the         Elementary and Secondary Education Act of 1965.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
Permissive use of funds.--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C4%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
Uses.--Notwithstanding paragraph (2)(A) or                 section 612(a)(17)(B) (relating to commingled funds),                 funds provided to the local educational agency under                 this part may be used for the following activities:
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C4%2CA%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
Services and aids that also benefit                       nondisabled children.--For the costs of special                       education and related services, and supplementary                       aids and services, provided in a regular class or                       other education-related setting to a child with a                       disability in accordance with the individualized                       education program of the child, even if 1 or more                       nondisabled children benefit from such services.
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C4%2CA%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
Early intervening services.--To develop                       and implement coordinated, early intervening                       educational services in accordance with subsection                       (f).
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C4%2CA%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
High cost education and related                       services.--To establish and implement cost or risk                       sharing funds, consortia, or cooperatives for the                       local educational agency itself, or for local                       educational agencies working in a consortium of                       which the local educational agency is a part, to                       pay for high cost special education and related                       services.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C4%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Administrative case management.--A local                 educational agency may use funds received under this                 part to purchase appropriate technology for                 recordkeeping, data collection, and related case                 management activities of teachers and related services                 personnel providing services described in the                 individualized education program of children with                 disabilities, that is needed for the implementation of                 such case management activities.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C5%2C"><span class="subindex">
       (5)
     </span></a> 
Treatment of charter schools and their students.--In         carrying out this part with respect to charter schools that are         public schools of the local educational agency, the local         educational agency--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C5%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
serves children with disabilities attending                 those charter schools in the same manner as the local                 educational agency serves children with disabilities in                 its other schools, including providing supplementary and                 related services on site at the charter school to the                 same extent to which the local educational agency has a                 policy or practice of providing such services on the                 site to its other public schools; and
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C5%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
provides funds under this part to those                 charter schools--
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C5%2CB%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
on the same basis as the local                       educational agency provides funds to the local                       educational agency's other public schools,                       including proportional distribution based on                       relative enrollment of children with disabilities;                       and
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C5%2CB%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
at the same time as the agency                       distributes other Federal funds to the agency's                       other public schools, consistent with the State's                       charter school law.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C6%2C"><span class="subindex">
       (6)
     </span></a> 
Purchase of instructional materials.--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C6%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
&lt;&lt;NOTE: Deadline.&gt;&gt; In general.--Not later                 than 2 years after the date of enactment of the                 Individuals with Disabilities Education Improvement Act                 of 2004, a local educational agency that chooses to                 coordinate with the National Instructional Materials                 Access Center, when purchasing print instructional                 materials, shall acquire the print instructional                 materials in the same manner and subject to the same                 conditions as a State educational agency acquires print                 instructional materials under section 612(a)(23).
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C6%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Rights of local educational agency.--Nothing                 in this paragraph shall be construed to require a local                 educational agency to coordinate with the National                 Instructional Materials Access Center. If a local                 educational agency chooses not to coordinate with the                 National Instructional Materials Access Center, the                 local educational agency shall provide an assurance to                 the State educational agency that the local educational                 agency will provide instructional materials to blind                 persons or other persons with print disabilities in a                 timely manner.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C7%2C"><span class="subindex">
       (7)
     </span></a> 
Information for state educational agency.--The local         educational agency shall provide the State educational agency         with information necessary to enable the State educational         agency to carry out its duties under this part, including, with         respect to paragraphs (15) and (16) of section 612(a),         information relating to the performance of children with         disabilities participating in programs carried out under this         part.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C8%2C"><span class="subindex">
       (8)
     </span></a> 
Public information.--The local educational agency         shall make available to parents of children with disabilities         and to the general public all documents relating to the         eligibility of such agency under this part.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ca%2C9%2C"><span class="subindex">
       (9)
     </span></a> 
Records regarding migratory children with         disabilities.--The local educational agency shall cooperate in         the Secretary's efforts under section 1308 of the Elementary and         Secondary Education Act of 1965 to ensure the linkage of records         pertaining to migratory children with a disability for the         purpose of electronically exchanging, among the States, health         and educational information regarding such children.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cb%2C"><span class="subindex">
       (b)
     </span></a> 
Exception for Prior Local Plans.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cb%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--If a local educational agency or State         agency has on file with the State educational agency policies         and procedures that demonstrate that such local educational         agency, or such State agency, as the case may be, meets any         requirement of subsection (a), including any policies and         procedures filed under this part as in effect before the         effective date of the Individuals with Disabilities Education         Improvement Act of 2004, the State educational agency shall         consider such local educational agency or State agency, as the         case may be, to have met such requirement for purposes of         receiving assistance under this part.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cb%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Modification made by local educational agency.--        Subject to paragraph (3), an application submitted by a local         educational agency in accordance with this section shall remain        in effect until the local educational agency submits to the         State educational agency such modifications as the local         educational agency determines necessary.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cb%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Modifications required by state educational agency.--        If, after the effective date of the Individuals with         Disabilities Education Improvement Act of 2004, the provisions         of this title are amended (or the regulations developed to carry         out this title are amended), there is a new interpretation of         this title by Federal or State courts, or there is an official         finding of noncompliance with Federal or State law or         regulations, then the State educational agency may require a         local educational agency to modify its application only to the         extent necessary to ensure the local educational agency's         compliance with this part or State law.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cc%2C"><span class="subindex">
       (c)
     </span></a> 
Notification of Local Educational Agency or State Agency in Case of Ineligibility.--If the State educational agency determines that a local educational agency or State agency is not eligible under this section, then the State educational agency shall notify the local educational agency or State agency, as the case may be, of that determination and shall provide such local educational agency or State agency with reasonable notice and an opportunity for a hearing.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cd%2C"><span class="subindex">
       (d)
     </span></a> 
Local Educational Agency Compliance.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cd%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--If the State educational agency, after         reasonable notice and an opportunity for a hearing, finds that a         local educational agency or State agency that has been         determined to be eligible under this section is failing to         comply with any requirement described in subsection (a), the         State educational agency shall reduce or shall not provide any         further payments to the local educational agency or State agency         until the State educational agency is satisfied that the local         educational agency or State agency, as the case may be, is         complying with that requirement.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cd%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Additional requirement.--Any State agency or local         educational agency in receipt of a notice described in paragraph         (1) shall, by means of public notice, take such measures as may         be necessary to bring the pendency of an action pursuant to this         subsection to the attention of the public within the         jurisdiction of such agency.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cd%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Consideration.--In carrying out its responsibilities         under paragraph (1), the State educational agency shall consider         any decision made in a hearing held under section 615 that is         adverse to the local educational agency or State agency involved         in that decision.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C"><span class="subindex">
       (e)
     </span></a> 
Joint Establishment of Eligibility.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
Joint establishment.--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C1%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
In general.--A State educational agency may                 require a local educational agency to establish its                 eligibility jointly with another local educational                 agency if the State educational agency determines that                 the local educational agency will be ineligible under                 this section because the local educational agency will                 not be able to establish and maintain programs of                 sufficient size and scope to effectively meet the needs                 of children with disabilities.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C1%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Charter school exception.--A State educational                 agency may not require a charter school that is a local                 educational agency to jointly establish its eligibility                 under                subparagraph (A) unless the charter school is explicitly                 permitted to do so under the State's charter school law.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Amount of payments.--If a State educational agency         requires the joint establishment of eligibility under paragraph         (1), the total amount of funds made available to the affected         local educational agencies shall be equal to the sum of the         payments that each such local educational agency would have         received under section 611(f) if such agencies were eligible for         such payments.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Requirements.--Local educational agencies that         establish joint eligibility under this subsection shall--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C3%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
adopt policies and procedures that are                 consistent with the State's policies and procedures                 under section 612(a); and
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C3%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
be jointly responsible for implementing                 programs that receive assistance under this part.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
Requirements for educational service agencies.--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C4%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
In general.--If an educational service agency                 is required by State law to carry out programs under                 this part, the joint responsibilities given to local                 educational agencies under this subsection shall--
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C4%2CA%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
not apply to the administration and                       disbursement of any payments received by that                       educational service agency; and
</p><p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C4%2CA%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
be carried out only by that educational                       service agency.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ce%2C4%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Additional requirement.--Notwithstanding any                 other provision of this subsection, an educational                 service agency shall provide for the education of                 children with disabilities in the least restrictive                 environment, as required by section 612(a)(5).
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cf%2C"><span class="subindex">
       (f)
     </span></a> 
Early Intervening Services.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cf%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--A local educational agency may not use         more than 15 percent of the amount such agency receives under         this part for any fiscal year, less any amount reduced by the         agency pursuant to subsection (a)(2)(C), if any, in combination         with other amounts (which may include amounts other than         education funds), to develop and implement coordinated, early         intervening services, which may include interagency financing         structures, for students in kindergarten through grade 12 (with         a particular emphasis on students in kindergarten through grade         3) who have not been identified as needing special education or         related services but who need additional academic and behavioral         support to succeed in a general education environment.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cf%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Activities.--In implementing coordinated, early         intervening services under this subsection, a local educational         agency may carry out activities that include--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cf%2C2%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
professional development (which may be                 provided by entities other than local educational                 agencies) for teachers and other school staff to enable                 such personnel to deliver scientifically based academic                 instruction and behavioral interventions, including                 scientifically based literacy instruction, and, where                 appropriate, instruction on the use of adaptive and                 instructional software; and
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cf%2C2%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
providing educational and behavioral                 evaluations, services, and supports, including                 scientifically based literacy instruction.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cf%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Construction.--Nothing in this subsection shall be         construed to limit or create a right to a free appropriate         public education under this part.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cf%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
Reporting.--Each local educational agency that         develops and maintains coordinated, early intervening services         under this subsection shall annually report to the State         educational agency on--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cf%2C4%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
the number of students served under this                 subsection; and
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cf%2C4%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
the number of students served under this                 subsection who subsequently receive special education                 and related services under this title during the                 preceding 2-year period.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cf%2C5%2C"><span class="subindex">
       (5)
     </span></a> 
Coordination with elementary and secondary education         act of 1965.--Funds made available to carry out this subsection         may be used to carry out coordinated, early intervening services         aligned with activities funded by, and carried out under, the         Elementary and Secondary Education Act of 1965 if such funds are         used to supplement, and not supplant, funds made available under         the Elementary and Secondary Education Act of 1965 for the         activities and services assisted under this subsection.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cg%2C"><span class="subindex">
       (g)
     </span></a> 
Direct Services by the State Educational Agency.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cg%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--A State educational agency shall use the         payments that would otherwise have been available to a local         educational agency or to a State agency to provide special         education and related services directly to children with         disabilities residing in the area served by that local         educational agency, or for whom that State agency is         responsible, if the State educational agency determines that the         local educational agency or State agency, as the case may be--
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cg%2C1%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
has not provided the information needed to                 establish the eligibility of such local educational                 agency or State agency under this section;
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cg%2C1%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
is unable to establish and maintain programs                 of free appropriate public education that meet the                 requirements of subsection (a);
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cg%2C1%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
is unable or unwilling to be consolidated with                 1 or more local educational agencies in order to                 establish and maintain such programs; or
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cg%2C1%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
has 1 or more children with disabilities who                 can best be served by a regional or State program or                 service delivery system designed to meet the needs of                 such children.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cg%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Manner and location of education and services.--The         State educational agency may provide special education and         related services under paragraph (1) in such manner and at such         locations (including regional or State centers) as the State         educational agency considers appropriate. Such education and         services shall be provided in accordance with this part.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ch%2C"><span class="subindex">
       (h)
     </span></a> 
State Agency Eligibility.--Any State agency that desires to receive a subgrant for any fiscal year under section 611(f) shall demonstrate to the satisfaction of the State educational agency that--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ch%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
all children with disabilities who are participating         in programs and projects funded under this part receive a free         appropriate public education, and that those children and their         parents are provided all the rights and procedural safeguards         described in this part; and
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ch%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
the agency meets such other conditions of this section         as the Secretary determines to be appropriate.
</p><p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Ch%2C2%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
Disciplinary Information.--The State may require that a local educational agency include in the records of a child with a disability a statement of any current or previous disciplinary action that has been taken against the child and transmit such statement to the same extent that such disciplinary information is included in, and transmitted with, the student records of nondisabled children. The statement may include a description of any behavior engaged in by the child that required disciplinary action, a description of the disciplinary action taken, and any other information that is relevant to the safety of the child and other individuals involved with the child. If the State adopts such a policy, and the child transfers from 1 school to another, the transmission of any of the child's records shall include both the child's current individualized education program and any such statement of current or previous disciplinary action that has been taken against the child.
</p><p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cj%2C"><span class="subindex">
       (j)
     </span></a> 
State Agency Flexibility.--
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cj%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
Adjustment to state fiscal effort in certain fiscal         years.--For any fiscal year for which the allotment received by         a State under section 611 exceeds the amount the State received         for the previous fiscal year and if the State in school year         2003-2004 or any subsequent school year pays or reimburses all         local educational agencies within the State from State revenue         100 percent of the non-Federal share of the costs of special         education and related services, the State educational agency,         notwithstanding paragraphs (17) and (18) of section 612(a) and         section 612(b), may reduce the level of expenditures from State         sources for the education of children with disabilities by not         more than 50 percent of the amount of such excess.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cj%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Prohibition.--Notwithstanding paragraph (1), if the         Secretary determines that a State educational agency is unable         to establish, maintain, or oversee programs of free appropriate         public education that meet the requirements of this part, or         that the State needs assistance, intervention, or substantial         intervention under section 616(d)(2)(A), the Secretary shall         prohibit the State educational agency from exercising the         authority in paragraph (1).
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cj%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Education activities.--If a State educational agency         exercises the authority under paragraph (1), the agency shall         use funds from State sources, in an amount equal to the amount         of the reduction under paragraph (1), to support activities         authorized under the Elementary and Secondary Education Act of         1965 or to support need based student or teacher higher         education programs.
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cj%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
Report.--For each fiscal year for which a State         educational agency exercises the authority under paragraph (1),         the State educational agency shall report to the Secretary the         amount of expenditures reduced pursuant to such paragraph        and the activities that were funded pursuant to paragraph (3).
</p><p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C613%2Cj%2C5%2C"><span class="subindex">
       (5)
     </span></a> 
Limitation.--Notwithstanding paragraph (1), a State         educational agency may not reduce the level of expenditures         described in paragraph (1) if any local educational agency in         the State would, as a result of such reduction, receive less         than 100 percent of the amount necessary to ensure that all         children with disabilities served by the local educational         agency receive a free appropriate public education from the         combination of Federal funds received under this title and State         funds received from the State educational agency.
</p><br><table style="display: none;" width="100%" border="0"><tr>
<td width="50%" class="prevbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C612%2C">Previous</a></td>
<td class="nextbutton"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C614%2C">Next</a></td>
</tr></table><div style="clear:both"></div>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-12-19/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

</body>
</html>




