<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    <li class="tree2 open"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">TITLE I</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C">Part A</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C">Part B</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C">Part C</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C">Part D</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CII%2C">TITLE II</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CIII%2C">TITLE III</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
       Statute: TITLE    
       <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">I</a> / <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C">D</a> / <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2C">662</a> / b</div><br><a name="here"></a><div class="subhigh1">
<p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C"><span class="subindex">
       (b)
     </span></a> 
Personnel Development; Enhanced Support for Beginning Special Educators.--
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
In general.--In carrying out this section, the         Secretary shall support activities--
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C1%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
for personnel development, including                 activities for the preparation of personnel who will                 serve children with high incidence and low incidence                 disabilities, to prepare special education and general                 education teachers, principals, administrators, and                 related services personnel (and school board members,                 when appropriate) to meet the diverse and individualized                 instructional needs of children with disabilities and                 improve early intervention, educational, and                 transitional services and results for children with                 disabilities, consistent with the objectives described                 in subsection (a); and
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C1%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
for enhanced support for beginning special                 educators, consistent with the objectives described in                 subsection (a).
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Personnel development.--In carrying out paragraph         (1)(A), the Secretary shall support not less than 1 of the         following activities:
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
Assisting effective existing, improving                 existing, or developing new, collaborative personnel                 preparation activities undertaken by institutions of                 higher education, local educational agencies, and other                 local entities that                incorporate best practices and scientifically based                 research, where applicable, in providing special                 education and general education teachers, principals,                 administrators, and related services personnel with the                 knowledge and skills to effectively support students                 with disabilities, including--
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
working collaboratively in regular                       classroom settings;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
using appropriate supports,                       accommodations, and curriculum modifications;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
implementing effective teaching                       strategies, classroom-based techniques, and                       interventions to ensure appropriate identification                       of students who may be eligible for special                       education services, and to prevent the                       misidentification, inappropriate                       overidentification, or underidentification of                       children as having a disability, especially                       minority and limited English proficient children;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Civ%2C"><span class="subindex">
       (iv)
     </span></a> 
effectively working with and involving                       parents in the education of their children;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Cv%2C"><span class="subindex">
       (v)
     </span></a> 
utilizing strategies, including positive                       behavioral interventions, for addressing the                       conduct of children with disabilities that impedes                       their learning and that of others in the                       classroom;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Cvi%2C"><span class="subindex">
       (vi)
     </span></a> 
effectively constructing IEPs,                       participating in IEP meetings, and implementing                       IEPs;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Cvii%2C"><span class="subindex">
       (vii)
     </span></a> 
preparing children with disabilities                       to participate in statewide assessments (with or                       without accommodations) and alternate assessments,                       as appropriate, and to ensure that all children                       with disabilities are a part of all accountability                       systems under the Elementary and Secondary                       Education Act of 1965; and
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CA%2Cviii%2C"><span class="subindex">
       (viii)
     </span></a> 
working in high need elementary                       schools and secondary schools, including urban                       schools, rural schools, and schools operated by an                       entity described in section 7113(d)(1)(A)(ii) of                       the Elementary and Secondary Education Act of                       1965, and schools that serve high numbers or                       percentages of limited English proficient                       children.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Developing, evaluating, and disseminating                 innovative models for the recruitment, induction,                 retention, and assessment of new, highly qualified                 teachers to reduce teacher shortages, especially from                 groups that are underrepresented in the teaching                 profession, including individuals with disabilities.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
Providing continuous personnel preparation,                 training, and professional development designed to                 provide support and ensure retention of special                 education and general education teachers and personnel                 who teach and provide related services to children with                 disabilities.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
Developing and improving programs for                 paraprofessionals to become special education teachers,                 related services personnel, and early intervention                 personnel, including interdisciplinary training to                 enable the paraprofessionals to improve early                 intervention, educational, and transitional results for                 children with disabilities.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CE%2C"><span class="subindex">
       (E)
     </span></a> 
In the case of principals and superintendents,                 providing activities to promote instructional leadership                 and                improved collaboration between general educators,                 special education teachers, and related services                 personnel.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CF%2C"><span class="subindex">
       (F)
     </span></a> 
Supporting institutions of higher education                 with minority enrollments of not less than 25 percent                 for the purpose of preparing personnel to work with                 children with disabilities.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CG%2C"><span class="subindex">
       (G)
     </span></a> 
Developing and improving programs to train                 special education teachers to develop an expertise in                 autism spectrum disorders.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C2%2CH%2C"><span class="subindex">
       (H)
     </span></a> 
Providing continuous personnel preparation,                 training, and professional development designed to                 provide support and improve the qualifications of                 personnel who provide related services to children with                 disabilities, including to enable such personnel to                 obtain advanced degrees.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Enhanced support for beginning special educators.--In         carrying out paragraph (1)(B), the Secretary shall support not         less than 1 of the following activities:
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
Enhancing and restructuring existing programs                 or developing preservice teacher education programs to                 prepare special education teachers, at colleges or                 departments of education within institutions of higher                 education, by incorporating an extended (such as an                 additional 5th year) clinical learning opportunity,                 field experience, or supervised practicum into such                 programs.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Creating or supporting teacher-faculty                 partnerships (such as professional development schools)                 that--
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
consist of not less than--
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ci%2CI%2C"><span class="subindex">
       (I)
     </span></a> 
1 or more institutions of                                 higher education with special education                                 personnel preparation programs;
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ci%2CII%2C"><span class="subindex">
       (II)
     </span></a> 
1 or more local educational                                 agencies that serve high numbers or                                 percentages of low-income students; or
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ci%2CIII%2C"><span class="subindex">
       (III)
     </span></a> 
1 or more elementary schools                                 or secondary schools, particularly                                 schools that have failed to make                                 adequate yearly progress on the basis,                                 in whole and in part, of the assessment                                 results of the disaggregated subgroup of                                 students with disabilities;
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
may include other entities eligible for                       assistance under this part; and
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ciii%2C"><span class="subindex">
       (iii)
     </span></a> 
provide--
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ciii%2CI%2C"><span class="subindex">
       (I)
     </span></a> 
high-quality mentoring and                                 induction opportunities with ongoing                                 support for beginning special education                                 teachers; or
</p>
<p class="sublevel5"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C662%2Cb%2C3%2CB%2Ciii%2CII%2C"><span class="subindex">
       (II)
     </span></a> 
inservice professional                                 development to beginning and veteran                                 special education teachers through the                                 ongoing exchange of information and                                 instructional strategies with faculty.
</p>
</div>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-04-08/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

</body>
</html>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9981315-5']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>





