<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">TITLE I</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CII%2C">TITLE II</a></li>
    <li class="tree2 no_child" id="at"><a href="/explore/view/p/%2Croot%2Cstatute%2C">TITLE III</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <h2>TITLE III -- MISCELLANEOUS PROVISIONS</h2><p>

<style type="text/css">
.part {padding: 10px 0px; text-align: center; font-size: 1.5em; font-weight: bolder;}
.sub1 {padding: 5px 0px 5px 10px; font-weight: bold;}
.sub2 {padding: 5px 0px 0px 20px; }
.sub3 {padding: 5px 0px 0px 30px; }
.sub4 {padding: 5px 0px 0px 40px; }
.sub5 {padding: 5px 0px 0px 50px; }

.clone-sub1 {padding: 5px 0px 5px 10px; font-weight: lighter; }
.clone-sub2 {padding: 5px 0px 0px 20px; font-weight: lighter;}
.clone-sub3 {padding: 5px 0px 0px 30px; font-weight: lighter;}
.clone-sub4 {padding: 5px 0px 0px 40px; font-weight: lighter;}
.clone-sub5 {padding: 5px 0px 0px 50px; font-weight: lighter;}

.content_title {padding: 10px; font-weight:bolder;}
.content_item {padding-left: 20px;}
.subpart {padding: 10px; font-weight:bolder;}
</style>

  <div class="sub1">
    SEC. 301. AMENDMENT TO CHILDREN'S HEALTH ACT OF 2000.
  </div>

  <p>Section 1004 of the Children's Health Act of 2000 (42 U.S.C.
  285g note) is amended--</p>

  <div class="clone-sub3">
    (1) in subsection (b), by striking ``Agency'' and inserting
    Agency, and the Department of Education''; and
  </div>

  <div class="clone-sub3">
    (2) in subsection (c)--
  </div>

  <div class="clone-sub4">
    (A) in paragraph (2), by striking ''and'' after the semicolon;
  </div>

  <div class="clone-sub4">
    (B) in paragraph (3), by striking the period at the end and
    inserting ; and''; and
  </div>

  <div class="clone-sub4">
    (C) by adding at the end the following:
  </div>

  <div class="clone-sub3">
    (4) be conducted in compliance with section 444 of the General
    Education Provisions Act (20 U.S.C. 1232g), including the
    requirement of prior parental consent for the disclosure of any
    education records, except without the use of authority or
    exceptions granted to authorized representatives of the
    Secretary of Education for the evaluation of
    Federally-supported education programs or in connection with
    the enforcement of the Federal legal requirements that relate
    to such programs.''.
  </div>

  <div class="sub1">
    SEC. 302. EFFECTIVE DATES.
  </div>

  <div class="sub2">
    (a) NOTE: 20 USC 1400 note. Parts A, B, and C, and subpart 1 of
    part D.--
  </div>

  <div class="sub3">
    (1) In general.--Except as provided in paragraph (2), parts A,
    B, and C, and subpart 1 of part D, of the Individuals with
    Disabilities Education Act, as amended by title I, shall take
    effect on July 1, 2005.
  </div>

  <div class="sub3">
    (2) Highly qualified definition.--Subparagraph (A), and
    subparagraphs (C) through (F), of section 602(10) of the
    Individuals with Disabilities Education Act, as amended by
    title I, shall take effect on the date of enactment of this Act
    for purposes of the Elementary and Secondary Education Act of
    1965.
  </div>

  <div class="sub2">
    (b) Subparts 2, 3, and 4 of part D.--Subparts 2, 3, and 4 of
    part D of the Individuals with Disabilities Education Act, as
    amended by title I, shall take effect on the date of enactment
    of this Act.
  </div>

  <div class="sub2">
    (c) NOTE: 20 USC 9567b note. Education Sciences Reform Act of
    2002.--
  </div>

  <div class="sub3">
    (1) National center for special education research.-- Sections
    175, 176, and 177 (other than section 177(c)) of the Education
    Sciences Reform Act of 2002, as enacted by section 201(a)(2) of
    this Act, shall take effect on the date of enactment of this
    Act.
  </div>

  <div class="sub3">
    (2) Plan.--Section 177(c) of the Education Sciences Reform Act
    of 2002, as enacted by section 201(a)(2) of this Act, shall
    take effect on October 1, 2005.
  </div>

  <div class="sub1">
    SEC. 303. NOTE: 20 USC 1400 note. TRANSITION.
  </div>

  <div class="sub2">
    (a) Orderly Transition.--
  </div>

  <div class="sub3">
    (1) In general.--The Secretary of Education (in this section
    referred to as the Secretary'') shall take such steps as are
    necessary to provide for the orderly transition from the
    Individuals with Disabilities Education Act, as such Act was in
    effect on the day preceding the date of enactment of this Act,
    to the Individuals with Disabilities Education Act and part E
    of the Education Sciences Reform Act of 2002, as amended by
    this Act.
  </div>

  <div class="sub3">
    (2) Limitation.--The Secretary's authority in paragraph (1)
    shall terminate 1 year after the date of enactment of this Act.
  </div>

  <div class="sub2">
    (b) Multi-year Awards.--Notwithstanding any other provision of
    law, the Secretary may use funds appropriated under part D of
    the Individuals with Disabilities Education Act to make
    continuation awards for projects that were funded under section
    618, and part D, of the Individuals with Disabilities Education
    Act (as such section and part were in effect on September 30,
    2004), in accordance with the terms of the original awards.
  </div>

  <div class="sub2">
    (c) Research.--Notwithstanding section 302(b) or any other
    provision of law, the Secretary may award funds that are
    appropriated under the Department of Education Appropriations
    Act, 2005 for special education research under either of the
    headings Special Education'' or Institute of Education
    Sciences'' in accordance with sections 672 and 674 of the
    Individuals with Disabilities Education Act, as such sections
    were in effect on October 1, 2004.
  </div>

  <div class="sub1">
    SEC. 304. REPEALER.
  </div>

  <p>Section 644 of the NOTE: 20 USC 1444. Individuals with
  Disabilities Education Act, as such section was in effect on the
  day before the enactment of this Act, is repealed.</p>

  <div class="sub1">
    SEC. 305. IDEA TECHNICAL AMENDMENTS TO OTHER LAWS.
  </div>

  <div class="sub2">
    (a) Title 10.--Section 2164(f) of title 10, United States Code
    is amended--
  </div>

  <div class="sub3">
    (1) in paragraph (1)(B)--
  </div>

  <div class="sub4">
    (A) by striking infants and toddlers'' each place the term
    appears and inserting infants or toddlers'';
  </div>

  <div class="sub4">
    (B) by striking part H'' and inserting part C''; and
  </div>

  <div class="sub4">
    (C) by striking 1471'' and inserting 1431''; and
  </div>

  <div class="sub3">
    (2) in paragraph (3)--
  </div>

  <div class="sub4">
    (A) in subparagraph (A)--
  </div>

  <div class="sub5">
    (i) by striking 602(a)(1)'' and inserting 602''; and
  </div>

  <div class="sub5">
    (ii) by striking 1401(a)(1)'' and inserting 1401'';
  </div>

  <div class="sub4">
    (B) by striking subparagraph (B);
  </div>

  <div class="sub4">
    (C) by redesignating subparagraph (C) as subparagraph (B); and
  </div>

  <div class="sub4">
    (D) in subparagraph (B) (as so redesignated)--
  </div>

  <div class="sub5">
    (i) by striking and toddlers'' and inserting or toddlers'';
  </div>

  <div class="sub5">
    (ii) by striking 672(1)'' and inserting 632''; and
  </div>

  <div class="sub5">
    (iii) by striking 1472(1)'' and inserting 1432''.
  </div>

  <div class="sub2">
    (b) Defense Dependents Education Act of 1978.--Section
    1409(c)(2) of the Defense Dependents Education Act of 1978 (20
    U.S.C. 927(c)(2)) is amended--
  </div>

  <div class="sub3">
    (1) by striking 677'' and inserting 636''; and
  </div>

  <div class="sub3">
    (2) by striking part H'' and inserting part C''.
  </div>

  <div class="sub2">
    (c) Higher Education Act of 1965.--The Higher Education Act of
    1965 (20 U.S.C. 1001 et seq.) is amended--
  </div>

  <div class="sub3">
    (1) in section 465(a)(2)(C) (20 U.S.C. 1087ee(a)(2)(C), by
    striking Individuals With'' and inserting Individuals with''
    and;
  </div>

  <div class="sub3">
    (2) in section 469(c) (20 U.S.C. 1087ii(c)), by striking
    602(a)(1) and 672(1)'' and inserting 602 and 632''.
  </div>

  <div class="sub2">
    (d) Education of the Deaf Act.--The matter preceding
    subparagraph (A) of section 104(b)(2) of the Education of the
    Deaf Act (20 U.S.C. 4304(b)(2)) is amended by striking
    618(a)(1)(A)'' and inserting 618(a)(1)''.
  </div>

  <div class="sub2">
    (e) Goals 2000: Educate America Act.--Section 3(a)(9) of the
    Goals 2000: Educate America Act (20 U.S.C. 5802(a)(9)) is
    amended by striking 602(a)(17)'' and inserting 602''.
  </div>

  <div class="sub2">
    (f) School-to-Work Opportunities Act of 1994.--Section 4(15) of
    the School-to-Work Opportunities Act of 1994 (20 U.S.C.
    6103(15)) is amended--
  </div>

  <div class="sub3">
    (1) by striking 602(a)(17)'' and inserting 602''; and
  </div>

  <div class="sub3">
    (2) by striking 1401(17)'' and inserting 1401''.
  </div>

  <div class="sub2">
    (g) Elementary and Secondary Education Act of 1965.--The
    Elementary and Secondary Education Act of 1965 (20 U.S.C. 6301
    et seq.) is amended--
  </div>

  <div class="sub3">
    (1) in section 1111(b)(2)(I)(ii) (20 U.S.C. 6311(b)(2)(I)(ii)),
    by striking 612(a)(17)(A)'' and inserting 612(a)(16)(A)'';
  </div>

  <div class="sub3">
    (2) in section 5208 (20 U.S.C. 7221g), by striking 602(11)''
    and inserting 602''; and
  </div>

  <div class="sub3">
    (3) in section 5563(b)(8)(C) (20 U.S.C. 7273b(b)(8)(C)), by
    striking 682'' and inserting 671''.
  </div>

  <div class="sub2">
    (h) Rehabilitation Act of 1973.--The Rehabilitation Act of 1973
    (29 U.S.C. 701 et seq.) is amended--
  </div>

  <div class="sub3">
    (1) in section 101(a)(11)(D)(ii) (29 U.S.C. 721(a)(11)(D)(ii)),
    by striking (as added by section 101 of Public Law 105-17)'';
  </div>

  <div class="sub3">
    (2) in section 105(b)(1)(A)(ii) (29 U.S.C. 725(b)(1)(A)(ii)),
    by striking 682(a) of the Individuals with Disabilities
    Education Act (as added by section 101 of the Individuals with
    Disabilities Education Act Amendments of 1997; Public Law
    105-17)'' and inserting 671 of the Individuals with
    Disabilities Education Act'';
  </div>

  <div class="sub3">
    (3) in section 105(c)(6) (29 U.S.C. 725(c)(6))--
  </div>

  <div class="sub4">
    (A) by striking 612(a)(21)'' and inserting 612(a)(20)'';
  </div>

  <div class="sub4">
    (B) by striking Individual with'' and inserting Individuals
    with''; and
  </div>

  <div class="sub4">
    (C) by striking (as amended by section 101 of the Individuals
    with Disabilities Education Act Amendments of 1997; Public Law
    105-17)'';
  </div>

  <div class="sub3">
    (4) in section 302(f)(1)(D)(ii) (29 U.S.C. 772 (f)(1)(D)(ii)),
    by striking (as amended by section 101 of the Individuals with
    Disabilities Education Act Amendments of 1997 (Public Law
    105-17))'';
  </div>

  <div class="sub3">
    (5) in section 303(c)(6) (29 U.S.C. 773(c)(6))--
  </div>

  <div class="sub4">
    (A) by striking 682(a)'' and inserting 671''; and
  </div>

  <div class="sub4">
    (B) by striking (as added by section 101 of the Individuals
    with Disabilities Education Act Amendments of 1997; Public Law
    105-17)''; and
  </div>

  <div class="sub3">
    (6) in section 303(c)(4)(A)(ii) (29 U.S.C. 773(c)(4)(A)(ii)),
    by striking 682(a) of the Individuals with Disabilities
    Education Act (as added by section 101 of the Individuals with
    Disabilities Education Act Amendments of 1997; Public Law 105-
    17)'' and inserting 671 of the Individuals with Disabilities
    Education Act''.
  </div>

  <div class="sub2">
    (i) Public Health Service Act.--The Public Health Service Act
    (42 U.S.C. 201 et seq.) is amended--
  </div>

  <div class="sub3">
    (1) in section 399A(f) NOTE: 42 USC 290bb-25. (42 U.S.C.
    280d(f), by striking part H'' and inserting part C'';
  </div>

  <div class="sub3">
    (2) in section 399(n)(3) (42 U.S.C. 280c-6(n)(3)), by striking
    part H'' and inserting part C'';
  </div>

  <div class="sub3">
    (3) in section 399A(b)(8) NOTE: 42 USC 290bb-25. (42 U.S.C.
    280d(b)(8)), by striking part H'' and inserting part C'';
  </div>

  <div class="sub3">
    (4) in section 562(d)(3)(B) (42 U.S.C. 290ff-1(d)(3)(B)), by
    striking and H'' and inserting and C''; and
  </div>

  <div class="sub3">
    (5) in section 563(d)(2) (42 U.S.C. 290ff-2(d)(2)), by striking
    602(a)(19)'' and inserting 602''.
  </div>

  <div class="sub2">
    (j) Social Security Act.--The Social Security Act (42 U.S.C.
    301 et seq.) is amended--
  </div>

  <div class="sub3">
    (1) in section 1903(c) (42 U.S.C. 1396b(c)), by striking part
    H'' and inserting part C''; and
  </div>

  <div class="sub3">
    (2) in section 1915(c)(5)(C)(i) (42 U.S.C. 1396n(c)(5)(C)(i)),
    by striking (as defined in section 602(16) and (17) of the
    Education of the Handicapped Act (20 U.S.C. 1401(16), (17))''
    and inserting (as such terms are defined in section 602 of the
    Individuals with Disabilities Education Act (20 U.S.C.
    1401))''.
  </div>

  <div class="sub2">
    (k) Domestic Volunteer Service Act of 1973.--Section 211(a) of
    the Domestic Volunteer Service Act of 1973 (42 U.S.C. 5011(a))
    is amended--
  </div>

  <div class="sub3">
    (1) by striking part H'' and inserting part C''; and
  </div>

  <div class="sub3">
    (2) by striking 1471'' and inserting 1431''.
  </div>

  <div class="sub2">
    (l) Head Start Act.--The Head Start Act (42 U.S.C. 9831 et
    seq.) is amended--
  </div>

  <div class="sub3">
    (1) in section 640(a)(5)(C)(iv) (42 U.S.C. 9835(a)(5)(C)(iv)),
    by striking 1445'' and inserting 1444'';
  </div>

  <div class="sub3">
    (2) in section 640(d) (42 U.S.C. 9835(d))-- (A) by striking
    U.S.C'' and inserting U.S.C.''; and (B) by striking 1445'' and
    inserting 1444'';
  </div>

  <div class="sub3">
    (3) in section 641(d)(3) (42 U.S.C. 9836(d)(3)), by striking
    U.S.C 1431-1445'' and inserting U.S.C. 1431-1444''; and
  </div>

  <div class="sub3">
    (4) in section 642(c) (42 U.S.C. 9837(c)), by striking 1445''
    and inserting 1444''.
  </div>

  <div class="sub2">
    (m) National and Community Service Act of 1990.--Section
    101(21)(B) of the National and Community Service Act of 1990
    (42 U.S.C. 12511(21)(B)) is amended--
  </div>

  <div class="sub3">
    (1) by striking 602(a)(1)'' and inserting 602''; and
  </div>

  <div class="sub3">
    (2) by striking 1401(a)(1)'' and inserting 1401''.
  </div>

  <div class="sub2">
    (n) Developmental Disabilities Assistance and Bill of Rights
    Act of 2000.--The Developmental Disabilities Assistance and
    Bill of Rights Act of 2000 (42 U.S.C. 15001 et seq.) is
    amended--
  </div>

  <div class="sub3">
    (1) in section 125(c)(5)(G)(i) (42 U.S.C. 15025(c)(5)(G)(i)),
    by striking subtitle C'' and inserting part C''; and
  </div>

  <div class="sub3">
    (2) in section 154(a)(3)(E)(ii)(VI) (42 U.S.C.
    15064(a)(3)(E)(ii)(VI))--
  </div>

  <div class="sub4">
    (A) by striking 682 or 683'' and inserting 671 or 672''; and
  </div>

  <div class="sub4">
    (B) by striking (20 U.S.C. 1482, 1483)''.
  </div>

  <div class="sub2">
    (o) District of Columbia School Reform Act of 1995.--The
    District of Columbia School Reform Act of 1995 (Public Law
    104-134) is amended--
  </div>

  <div class="sub3">
    (1) NOTE: 110 Stat. 1321-107. in section 2002(32)--
  </div>

  <div class="sub4">
    (A) by striking 602(a)(1)'' and inserting 602''; and
  </div>

  <div class="sub4">
    (B) by striking 1401(a)(1)'' and inserting 1401'';
  </div>

  <div class="sub3">
    (2) in section 2202(19), NOTE: 110 Stat. 1321-116. by striking
    Individuals With'' and inserting Individuals with''; and
  </div>

  <div class="sub3">
    (3) NOTE: 110 Stat. 1321-125. in section 2210--
  </div>

  <div class="sub4">
    (A) in the heading for subsection (c), by striking With
    Disabilities'' and inserting with Disabilities''; and
  </div>

  <div class="sub4">
    (B) in subsection (c), by striking Individuals With'' and
    inserting Individuals with''.
  </div>

  <div class="sub1">
    SEC. 306. COPYRIGHT.
  </div>

  <div class="sub1">
    Section 121 of title 17, United States Code, is amended--
  </div>

  <div class="sub2">
    (1) by redesignating subsection (c) as subsection (d);
  </div>

  <div class="sub2">
    (2) by inserting after subsection (b) the following:
  </div>

  <div class="sub3">
    (c) Notwithstanding the provisions of section 106, it is not an
    infringement of copyright for a publisher of print
    instructional materials for use in elementary or secondary
    schools to create and distribute to the National Instructional
    Materials Access Center copies of the electronic files
    described in sections 612(a)(23)(C), 613(a)(6), and section
    674(e) of the Individuals with Disabilities Education Act that
    contain the contents of print instructional materials using the
    National Instructional Material Accessibility Standard (as
    defined in section 674(e)(3) of that Act), if--
  </div>

  <div class="sub4">
    (1) the inclusion of the contents of such print instructional
    materials is required by any State educational agency or local
    educational agency;
  </div>

  <div class="sub4">
    (2) the publisher had the right to publish such print
    instructional materials in print formats; and
  </div>

  <div class="sub4">
    (3) such copies are use
  </div>

</p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-11-23/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

</body>
</html>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9981315-5']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>





