<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble1%2C">Preamble - Major Changes in the Regulations</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble - Analysis of Comments and Changes</a></li>
    <li class="tree2 close"><a href="/explore/view/p/%2Croot%2Cregs%2C300%2C">Assistance To States For The Education Of Children With Disabilities</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cregs%2Cappendix%2C">Regulations Appendices</a></li>
    <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
<a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2C">Preamble</a> / <a href="/explore/view/p/%2Croot%2Cregs%2Cpreamble2%2Cprepart2%2CD%2C">Evaluations, Eligibility Determinations, Individualized Education Programs, and Educational Placements</a>
</div><p style="padding: 0px 0px 0px 0px">
Transition services (Sec. 300.320(b))<p style="padding: 0px 0px 0px 20px">
Comment:  Many commenters disagreed with changing the age at which transition services must be provided to a child with a disability from 14 years to 16 years.  One commenter recommended that transition services begin at age 13.  Another commenter recommended that transition services begin before high school, because if there is a choice of high schools, transition goals may be a determining factor in the selection process.  A few commenters requested that the regulations clarify that States may continue to begin transition services with the first IEP after the child turns age 14.  Some commenters recommended that transition begin two to four full school years before the child is expected to graduate because some children may exit school at age 17.  </p><p style="padding: 0px 0px 0px 20px">
Numerous commenters recommended that the regulations clarify that States have discretion to require transition services to begin before age 16 for all children in the State.  However, a few commenters recommended removing the phrase "or younger if determined appropriate by the IEP Team" in Sec. 300.320(b) because the language is not in the Act and promotes additional special education services.  </p><p style="padding: 0px 0px 0px 20px">
	A few commenters recommended that the regulations require transition planning to begin earlier than age 16 if necessary for the child to receive FAPE.  Other commenters recommended clarifying that, in order for transition services to begin by age 16, transition assessments and other pre-planning needs that would facilitate movement to post-school life must be completed prior to the child's 16th birthday.  One commenter recommended requiring transition planning to begin no later than the child's freshman year in high school and that this planning include selecting assessment instruments and completing assessments that will lead to the development of transition goals and objectives in the child's IEP. </p><p style="padding: 0px 0px 0px 20px">
Discussion:  Section 614(d)(1)(A)(i)(VIII) of the Act requires that transition services begin no later than the first IEP to be in effect when the child turns 16.  Because IEP Team decisions must always be individualized, we have included the phrase "or younger if determined appropriate by the IEP Team" in Sec. 300.320(b).  </p><p style="padding: 0px 0px 0px 20px">
	The Act does not require transition planning or transition assessments, as recommended by some commenters.  Therefore, consistent with section 614(d)(1)(A)(ii)(I) of the Act, we cannot interpret section 614 of the Act to require that IEPs include this information because it is beyond what is specifically required in the Act.</p><p style="padding: 0px 0px 0px 20px">
The Department believes that a State could require transition services, if it chose to do so, to begin before age 16 for all children in the State.  However, consistent with Sec. 300.199(a)(2) and section 608(a)(2) of the Act, a State that chooses to require transition services before age 16 for all children would have to identify in writing to its LEAs and to the Secretary that such rule, regulation, or policy is a State-imposed requirement that is not required by Part B of the Act and Federal regulations.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  A few commenters recommended that Sec. 300.320(b) clarify that the child is a participating IEP Team member and that the IEP Team is required to consider the child's preferences in developing transition goals and services. </p><p style="padding: 0px 0px 0px 20px">
Discussion:  The clarification requested is not needed because Sec. 300.321(b)(1) already requires the public agency to invite a child with a disability to attend the child's IEP Team meeting, if a purpose of the meeting is to consider the child's postsecondary goals and the transition services needed to assist the child to reach those goals.  In addition, Sec. 300.321(b)(2) requires the public agency to take steps to ensure that the child's preferences and interests are considered, if the child does not attend the IEP Team meeting.  We believe that this is sufficient clarification that, for the purposes mentioned by the commenter, the child is a participating IEP Team member. </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  A few commenters requested that the regulations clarify whether "transition assessments" are formal evaluations or competency assessments.  One commenter stated that transition assessments should be different for a college-bound child with a disability than for a child with severe disabilities whose future is a group home.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  We do not believe the requested clarification is necessary because the specific transition assessments used to determine appropriate measurable postsecondary goals will depend on the individual needs of the child, and are, therefore, best left to States and districts to determine on an individual basis.</p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter requested clarification of the term "postsecondary goals."  Another commenter recommended defining "postsecondary goals" in the definition section of these regulations.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  We do not believe it is necessary to include a definition of "postsecondary goals" in the regulations.  The term is generally understood to refer to those goals that a child hopes to achieve after leaving secondary school (i.e., high school).  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter requested clarification regarding whether Sec. 300.320(b)(1) requires measurable postsecondary goals in each of the areas of training, education, employment, and, independent living skills.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  Beginning not later than the first IEP to be in effect when the child turns 16 years of age, section 614(d)(1)(A)(i)(VIII)(aa) of the Act requires a child's IEP to include measurable postsecondary goals in the areas of training, education, and employment, and, where appropriate, independent living skills.  Therefore, the only area in which postsecondary goals are not required in the IEP is in the area of independent living skills.  Goals in the area of independent living are required only if appropriate.  It is up to the child's IEP Team to determine whether IEP goals related to the development of independent living skills are appropriate and necessary for the child to receive FAPE.</p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  Some commenters recommended that the regulations retain the requirement in current Sec. 300.347(b)(1) that requires IEPs to include a statement of the transition service needs of the child under applicable components of the child's IEP that focus on the child's courses of study (such as participation in advanced-placement courses or a vocational education program).</p><p style="padding: 0px 0px 0px 20px">
Discussion:  The requirement referred to by the commenter is already in the regulations.  Section 300.320(b)(2) includes a reference to "courses of study" as part of transition services, consistent with section 614(d)(1)(A)(i)(VIII)(bb) of the Act.  The examples in current Sec. 300.347(b)(2) (i.e., advanced placement course or a vocational education program) are not included in Sec. 300.320(b)(2) because we do not believe they are necessary to understand and implement the requirement. </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  Several commenters recommended that the regulations explicitly require transition services to include vocational and career training through work-study and documentation of accommodations needed in the workplace.  </p><p style="padding: 0px 0px 0px 20px">
Discussion:  The Act does not require IEPs to include vocational and career training or documentation of workplace accommodations.  Consistent with section 614(d)(1)(A)(ii)(I) of the Act, we cannot interpret section 614 of the Act to require IEPs to include information beyond what is specifically required in the Act.  It is up to each child's IEP Team to determine the transition services that are needed to meet the unique transition needs of the child.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  A few commenters recommended that the regulations clarify that schools can use funds provided under Part B of the Act to support children in transitional programs on college campuses and in community-based settings.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  We do not believe that the clarification requested by the commenters is necessary to add to the regulations because, as with all special education and related services, it is up to each child's IEP Team to determine the special education and related services that are needed to meet each child's unique needs in order for the child to receive FAPE.  Therefore, if a child's IEP Team determines that a child's needs can best be met through participation in transitional programs on college campuses or in community-based settings, and includes such services on the child's IEP, funds provided under Part B of the Act may be used for this purpose.  </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter recommended more accountability for transition services.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  The Act contains significant changes to the monitoring and enforcement requirements under Part B of the Act.  Section 300.600, consistent with section 616(a) of the Act, requires the primary focus of monitoring to be on improving educational results and functional outcomes for children with disabilities.  The provisions in section 616(a) and (b)(2)(C)(ii) of the Act set forth the responsibility of States to monitor the implementation of the Act, enforce the Act, and annually report on performance of the State and each LEA.  </p><p style="padding: 0px 0px 0px 20px">
Section 300.600(c), consistent with section 616(a)(3) of the Act, requires States to measure performance in monitoring priority areas using quantifiable indicators and such qualitative indicators as are needed to adequately measure performance.  Section 300.601 reflects statutory language in section 616(b) of the Act and requires States to have a performance plan that evaluates their efforts to implement the requirement and purposes of the Act.  Transition services are specifically being addressed in State performance plans.  We believe that these changes to the monitoring and enforcement requirements will ensure that States and LEAs are held accountable for the transition services they provide. </p><p style="padding: 0px 0px 0px 20px">
Changes:  None.</p><p style="padding: 0px 0px 0px 20px">
Comment:  One commenter requested that the regulations be revised to include an affirmative statement that transition services can be used to drive the IEP for the child.</p><p style="padding: 0px 0px 0px 20px">
Discussion:  It would be inappropriate to include such a requirement in these regulations because, while section 614(d)(1)(A)(i)(VIII) of the Act includes transition services in a child's IEP, there is no suggestion that it be the only component or the component that governs a child's IEP.</p><p style="padding: 0px 0px 0px 20px">
Changes:  None.  </p></p>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2015-09-18/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
</body>

</html>




