<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IDEA - Building The Legacy of IDEA 2004" />
<meta name="robots" content="index, follow" />
<meta name="description" content="symfony project" />
<meta name="keywords" content="symfony, project" />
<meta name="language" content="en" />
<title>IDEA - Building The Legacy of IDEA 2004</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="screen" href="/css/idea.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/object_template.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/typography.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/tabs.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/banner.css" />
</head>

<body>
<!-- Begin ED Lite Banner -->
  <div id="edbanner">
  <div id="bannerbg">
  <img alt="Ed_banner_left" width="316" height="73" border="0" align="left" hspace="0" vspace="0" src="/images/ed_banner_left.jpg" />  <img alt="Ed_banner_right" width="454" height="73" border="0" align="right" hspace="0" vspace="0" src="/images/ed_banner_right.jpg" />  
  </div>
  <div id="logo">
  
  <a href="http://www.ed.gov/index.jhtml?src=a">
  <img alt="ED.gov - Link to ED.gov Home Page" width="111" height="38" hspace="0" vspace="0" border="0" src="/images/ed_banner_logo.gif" />  </a>
  <a href="#skipnav">
  <img alt="Skip main navigation." width="1" height="1" hspace="0" vspace="0" border="0" src="/images/spacer.gif" />  </a>
  </div>
  <div id="slogan">
  <img alt="U.S. Department of Education: Promoting Educational Excellence for all Americans" width="254" height="29" hspace="0" vspace="0" border="0" src="/images/ed_banner_mission.gif" />  </div>
  <div id="searchbox">

  </div>
  </div>
  <a name="skipnav"></a>
<!-- End ED Lite Banner -->


<div id="container">
   <div id="header">

      <img alt="Building the Legacy of IDEA 2004" src="/images/blocks_logo.gif" />      <ul id="top_navigation">
                    <li><a href="/qanda_corner/create">Contact Us</a></li>
         <li><a href="/explore/home">Home</a></li>
      </ul>
   </div>

<div id="main">
      <div id="left">
         <div class="chalkboard" id="topical_navigation">
    

     <div class="chalkboard" id="topical_navigation">
            <h1><img alt="Browse Topical Areas" src="/images/browse_topics.gif" /> </h1>
            <ul class="tree0">
            <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C3%2C">Alignment with the No Child Left Behind Act </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C6%2C">Discipline</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C7%2C">Disproportionality</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C8%2C">Early Intervening Services (EIS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C4%2C">Evaluation and Reevaluation </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C9%2C">Funding </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C2%2C">Highly Qualified Teachers (HQT)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C13%2C">Identification of Specific Learning Disabilities</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C1%2C">Individualized Education Program (IEP)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C16%2C">Monitoring and Enforcement</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C10%2C">National Instructional Materials Accessibility Standard (NIMAS)</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C11%2C">Part C Option</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C5%2C">Private Schools </a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C12%2C">Procedural Safeguards</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C14%2C">Secondary Transition</a></li>
    <li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CTopicalArea%2C15%2C">Statewide and Districtwide Assessments</a></li>
    
            </ul>
            <h2>&nbsp;</h2>
     </div>
         </div>
    
     <div class="chalkboard" id="document_navigation">
            <h1><img alt="Read Documents" src="/images/read_docs.gif" /></h1>
            
                        <ul class="tree0">
            <li class="tree1 close"><a href="/explore/view/p/%2Croot%2Cregs%2C">Regulations</a></li>
    <li class="tree1 open"><a href="/explore/view/p/%2Croot%2Cstatute%2C">Statute
	</a></li>
    <li class="tree2 open"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">TITLE I</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C">Part A</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CB%2C">Part B</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CC%2C">Part C</a></li>
    <li class="tree3 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CD%2C">Part D</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CII%2C">TITLE II</a></li>
    <li class="tree2 no_child"><a href="/explore/view/p/%2Croot%2Cstatute%2CIII%2C">TITLE III</a></li>
    
<li class="tree1 no_child"><a target="_blank" href="http://nichcy.org/laws/idea/legacy">Training Materials</a></li><li class="tree1 no_child"><a href="/static/modelForms">Model Forms</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Video Clips</a></li><li class="tree1 no_child"><a href="/webcast/view/p/%2Croot%2Cdynamic%2CVideoClips%2C">Webcast</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CPresentation%2C">Presentations</a></li><li class="tree1 no_child"><a href="http://www.ideapartnership.org/index.php?option=com_content&amp;view=article&amp;id=812&amp;oseppage=1">Dialogue Guides</a></li><li class="tree1 no_child"><a href="/explore/view/p/%2Croot%2Cdynamic%2CQaCorner%2C">Q&amp;A Documents</a></li>
    
            </ul>
                        <h2>&nbsp;</h2>
     </div>
 

         </div>
      <div id="wrapper">
         <div id="middle">
          <div class="path">
       Statute: TITLE    
       <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2C">I</a> / <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C">A</a> / <a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2C">601</a> / c</div><br><a name="here"></a><div class="subhigh1">
<p class="sublevel1"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C"><span class="subindex">
       (c)
     </span></a> 
Findings.--Congress finds the following:
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C1%2C"><span class="subindex">
       (1)
     </span></a> 
Disability is a natural part of the human experience         and in no way diminishes the right of individuals to participate         in or contribute to society. Improving educational results for         children with disabilities is an essential element of our         national        policy of ensuring equality of opportunity, full participation,         independent living, and economic self-sufficiency for         individuals with disabilities.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C2%2C"><span class="subindex">
       (2)
     </span></a> 
Before the date of enactment of the Education for All         Handicapped Children Act of 1975 (Public Law 94-142), the         educational needs of millions of children with disabilities were         not being fully met because--
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C2%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
the children did not receive appropriate                 educational services;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C2%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
the children were excluded entirely from the                 public school system and from being educated with their                 peers;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C2%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
undiagnosed disabilities prevented the                 children from having a successful educational                 experience; or
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C2%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
a lack of adequate resources within the public                 school system forced families to find services outside                 the public school system.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C3%2C"><span class="subindex">
       (3)
     </span></a> 
Since the enactment and implementation of the         Education for All Handicapped Children Act of 1975, this title         has been successful in ensuring children with disabilities and         the families of such children access to a free appropriate         public education and in improving educational results for         children with disabilities.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C4%2C"><span class="subindex">
       (4)
     </span></a> 
However, the implementation of this title has been         impeded by low expectations, and an insufficient focus on         applying replicable research on proven methods of teaching and         learning for children with disabilities.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2C"><span class="subindex">
       (5)
     </span></a> 
Almost 30 years of research and experience has         demonstrated that the education of children with disabilities         can be made more effective by--
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
having high expectations for such children and                 ensuring their access to the general education                 curriculum in the regular classroom, to the maximum                 extent possible, in order to--
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2CA%2Ci%2C"><span class="subindex">
       (i)
     </span></a> 
meet developmental goals and, to the                       maximum extent possible, the challenging                       expectations that have been established for all                       children; and
</p>
<p class="sublevel4"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2CA%2Cii%2C"><span class="subindex">
       (ii)
     </span></a> 
be prepared to lead productive and                       independent adult lives, to the maximum extent                       possible;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
strengthening the role and responsibility of                 parents and ensuring that families of such children have                 meaningful opportunities to participate in the education                 of their children at school and at home;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
coordinating this title with other local,                 educational service agency, State, and Federal school                 improvement efforts, including improvement efforts under                 the Elementary and Secondary Education Act of 1965, in                 order to ensure that such children benefit from such                 efforts and that special education can become a service                 for such children rather than a place where such                 children are sent;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
providing appropriate special education and                 related services, and aids and supports in the regular                 classroom, to such children, whenever appropriate;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2CE%2C"><span class="subindex">
       (E)
     </span></a> 
supporting high-quality, intensive preservice                 preparation and professional development for all                 personnel who work with children with disabilities in                 order to ensure that such personnel have the skills and                 knowledge necessary to improve the academic achievement                 and functional                performance of children with disabilities, including the                 use of scientifically based instructional practices, to                 the maximum extent possible;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2CF%2C"><span class="subindex">
       (F)
     </span></a> 
providing incentives for whole-school                 approaches, scientifically based early reading programs,                 positive behavioral interventions and supports, and                 early intervening services to reduce the need to label                 children as disabled in order to address the learning                 and behavioral needs of such children;
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2CG%2C"><span class="subindex">
       (G)
     </span></a> 
focusing resources on teaching and learning                 while reducing paperwork and requirements that do not                 assist in improving educational results; and
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C5%2CH%2C"><span class="subindex">
       (H)
     </span></a> 
supporting the development and use of                 technology, including assistive technology devices and                 assistive technology services, to maximize accessibility                 for children with disabilities.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C6%2C"><span class="subindex">
       (6)
     </span></a> 
While States, local educational agencies, and         educational service agencies are primarily responsible for         providing an education for all children with disabilities, it is         in the national interest that the Federal Government have a         supporting role in assisting State and local efforts to educate         children with disabilities in order to improve results for such         children and to ensure equal protection of the law.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C7%2C"><span class="subindex">
       (7)
     </span></a> 
A more equitable allocation of resources is essential         for the Federal Government to meet its responsibility to provide         an equal educational opportunity for all individuals.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C8%2C"><span class="subindex">
       (8)
     </span></a> 
Parents and schools should be given expanded         opportunities to resolve their disagreements in positive and         constructive ways.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C9%2C"><span class="subindex">
       (9)
     </span></a> 
Teachers, schools, local educational agencies, and         States should be relieved of irrelevant and unnecessary         paperwork burdens that do not lead to improved educational         outcomes.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C10%2C"><span class="subindex">
       (10)
     </span></a> </p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C10%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
The Federal Government must be responsive to the         growing needs of an increasingly diverse society.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C10%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
America's ethnic profile is rapidly changing. In 2000,         1 of every 3 persons in the United States was a member of a         minority group or was limited English proficient.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C10%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
Minority children comprise an increasing percentage of         public school students.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C10%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
With such changing demographics, recruitment efforts         for special education personnel should focus on increasing the         participation of minorities in the teaching profession in order         to provide appropriate role models with sufficient knowledge to         address the special education needs of these students.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C11%2C"><span class="subindex">
       (11)
     </span></a> </p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C11%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
The limited English proficient population is the         fastest growing in our Nation, and the growth is occurring in         many parts of our Nation.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C11%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
Studies have documented apparent discrepancies in the         levels of referral and placement of limited English proficient         children in special education.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C11%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
Such discrepancies pose a special challenge for         special education in the referral of, assessment of, and         provision of services for, our Nation's students from non-        English language backgrounds.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C12%2C"><span class="subindex">
       (12)
     </span></a> </p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C12%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
Greater efforts are needed to prevent the         intensification of problems connected with mislabeling and high         dropout rates among minority children with disabilities.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C12%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
More minority children continue to be served in         special education than would be expected from the percentage of         minority students in the general school population.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C12%2CC%2C"><span class="subindex">
       (C)
     </span></a> 
African-American children are identified as having         mental retardation and emotional disturbance at rates greater         than their White counterparts.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C12%2CD%2C"><span class="subindex">
       (D)
     </span></a> 
In the 1998-1999 school year, African-American         children represented just 14.8 percent of the population aged 6         through 21, but comprised 20.2 percent of all children with         disabilities.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C12%2CE%2C"><span class="subindex">
       (E)
     </span></a> 
Studies have found that schools with predominately         White students and teachers have placed disproportionately high         numbers of their minority students into special education.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C13%2C"><span class="subindex">
       (13)
     </span></a> </p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C13%2CA%2C"><span class="subindex">
       (A)
     </span></a> 
As the number of minority students in special         education increases, the number of minority teachers and related         services personnel produced in colleges and universities         continues to decrease.
</p>
<p class="sublevel3"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C13%2CB%2C"><span class="subindex">
       (B)
     </span></a> 
The opportunity for full participation by minority         individuals, minority organizations, and Historically Black         Colleges and Universities in awards for grants and contracts,         boards of organizations receiving assistance under this title,         peer review panels, and training of professionals in the area of         special education is essential to obtain greater success in the         education of minority children with disabilities.
</p>
<p class="sublevel2"><a href="/explore/view/p/%2Croot%2Cstatute%2CI%2CA%2C601%2Cc%2C14%2C"><span class="subindex">
       (14)
     </span></a> 
As the graduation rates for children with         disabilities continue to climb, providing effective transition         services to promote successful post-school employment or         education is an important measure of accountability for children         with disabilities.
</p>
</div>

<!--
            <div class="divider">
            &nbsp;
            </div>
-->
         </div>
         <div id="right">
         
            <div class="context_menu" id="quick_search">
               <h1>Search</h1>
               <form action="/explore/search" method="get">
                  <select name="search_option">
                     <option value="all">Entire Site</option>
                     <option value="statute">Statute</option>
                     <option value="regs">Regulations</option>
                  </select>
                  <input name="query" type="text" /><input type="image" name="GO" src="/images/search_button.gif" alt="Submit Search" />               </form>

</div>


<div class="context_menu" id="related_links">
<h1>Helpful Links</h1>
<ul>
<li class="context_menu"><a href="http://www.tadnet.org" target="_blank">TA&amp;D Network</a></li>
<li class="context_menu"><a href="http://www.ideadata.org" target="_blank">IDEAdata.org</a></li>
<li class="context_menu"><a href="http://www.osepideasthatwork.org/toolkit/index.asp" target="_blank">Assessment Tool Kit</a></li>
<li class="context_menu"><a href="/qanda_corner/create">Q&amp;A Corner<br/><span style="font-size:smaller;">(Click here to submit a question)</span></a>        </li>
<li class="context_menu"><a href="javascript:void(0);" onclick="window.open('http://rrfcnetwork.org/component/option,com_extcalendar/Itemid,383/extmode,cal/date,2016-06-30/cat_id,12/', 'IDEACalendar', 'left=20,top=20,scrollbars=1,width=655,height=741,toolbar=0,resizable=1')">Event Calendar</a></li>
<li class="context_menu"><a href="/archive">Document Archive</a></li>
</ul>
</div>

         </div>
      </div>
   </div>
 
   <div id="footer">
      <ul>
         <li><a href="/explore/view">Home</a></li>
         <li><a href="/qanda_corner/create">Contact Us</a></li>
      </ul>
 <!--     <span id="copyright">Copyright &copy; 2006 IDEA</span>  -->
   </div>
</div>

<a class="github-fork-ribbon right-top" href="https://github.com/resistere/idea.ed.gov" title="Fork me on GitHub">Fork me on GitHub</a>
</body>

</html>




